.catalog {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: 768px) {
        padding-top: 7.5rem;
        padding-bottom: 18rem;
    }
    h2 {
        color: var(--Dark-grey);
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin: unset;
        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }
    ul:not([class]) {
        margin: unset;
        padding: unset;
        padding-top: 30px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        & + h2 {
            padding-top: 30px;
        }
        @media (min-width: 576px) {
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 768px) {
            & + h2 {
                padding-top: 8.75rem;
            }
            padding-top: 5.62rem;
            grid-template-columns: repeat(4, 1fr);
        }
        li {
            display: flex;
            a {
                padding: 10px;
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
                position: relative;
                border-radius: 2px;
                border: 1px solid var(--plashka, #EBEBEB);
                min-height: 10rem;
                color: var(--Dark-grey);
                text-align: center;
                font-family: Manrope;
                font-size: 10px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 1.26px;
                text-transform: uppercase;
                transition: .4s;
                &:hover {
                    border-color: black;
                }
                @media (min-width: 576px) {
                    padding: 20px;
                    row-gap: 30px;
                    font-size: 12px;
                }
                @media (min-width: 768px) {
                    font-size: 1.125rem;
                    row-gap: 1.87rem;
                    min-height: 13.75rem;
                }
                img {
                    height: 40px;
                    width: auto;
                    object-fit: contain;
                    @media (min-width: 768px) {
                        height: 5rem;
                    }
                }
            }
        }
    }
    ul.bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        padding: unset;
        padding-top: 30px;
        @media (min-width: 1024px) {
            padding-top: 5.62rem;
        }
        li {
            white-space: nowrap;
            a {
                color: var(--Dark-grey);
                text-align: center;
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 1.8px;
                position: relative;
                text-transform: uppercase;
                transition: .4s;
                white-space: nowrap;
                @media (min-width: 768px) {
                    font-size: 1.125rem;
                    
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    width: 100%;
                    height: 1px;
                    background: var(--Dark-grey);
                    // transition: .4s;
                }
                &:hover {
                    &::after {
                        height: 2px;
                    }
                }
            }
        }
    }
}

.goods {
    width: 100%;
    padding-top: 66px;
    h1 {
        margin: unset;
        color: var(--Dark-grey);
        text-align: center;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
        @media (min-width: 1024px) {
            font-size: 40px;
        }
    }
}

.goods__container {
    padding-top: 16px;
    padding-bottom: 20px;
    display: grid;
    row-gap: 10px;
    column-gap: 6px;
    grid-template-columns: repeat(2,1fr);
    @media (min-width: 1024px) {
        padding-top: 76px;
        padding-bottom: 120px;
        column-gap: 14px;
        row-gap: 30px;
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(3,1fr);
    }
    @media (min-width: 1240px) {
        grid-template-columns: repeat(4,1fr);
    }
}

.goods__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 264px;
    position: relative;
    .goods__pagination-btn {
        color: var(--Dark-grey);
        min-height: 50px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--Dark-grey);
        cursor: pointer;
        background: white;
        padding: 10px 20px;
        &:hover {
            background: var(--Dark-grey);
            color: white;
            svg {
                fill: white;
            }
        }
    }
    & > button {
        max-width: 240px;
        width: 100%;
        
    }
    & > div {
        right: 0;
        position: absolute;
        display: flex;
        column-gap: 12px;
        & > button {
            &._back {
                svg {
                    transform: scale(-1);
                }
            }
            svg {
                width: 8px;
                height: 8px;
                fill: var(--Dark-grey);
            }
        }
        & > p {
            color: var(--Dark-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            display: flex;
            align-items: center;
        }
    }
}