.detail-good {
    width: 100%;
}
.detail-good__container {
    display: grid;
    padding-top: 3.12rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'slider' 'info';
    & > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        list-style: none;
        padding: unset;
        margin: unset;
        padding-top: 10px;
        padding-bottom: 15px;
        li {
            a {
                display: inline-flex;
                padding: 6px 8px;
                background: var(--plashka);
                color: var(--Dark-grey, #383838);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.24px;
            }
        }
        @media (min-width: 1024px) {
            display: none;
        }
    }
    @media (min-width: 1024px) {
        margin-bottom: 5.62rem;
        overflow: hidden;
        grid-template-columns: 15rem 47.5rem 1fr;
        grid-template-areas: 'thumbs slider info';
        column-gap: 1.87rem;
        box-sizing: content-box;
    }
}

.detail-good__thumbs {
    display: none;
    @media (min-width: 1024px) {
        display: flex;
        grid-area: thumbs;
        height: 47.5rem;
        width: 100%;
    }
    .detail-good__thumbs-good {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 2px;
        background: #F3F3F3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // overflow: hidden;
        // &:before {
        //     content: "";
        //     padding-top: 100%;
        //     float: left;
        // }
    }
}

.detail-good__slide {
    overflow: hidden;
    border-radius: 3px;
    background: #F3F3F3;
    position: relative;
    .hit__label {
        position: absolute;
        left: 20px;
        top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        @media (min-width: 1024px) {
            top: 30px;
            left: unset;
            right: 30px;
            row-gap: 10px;
        }
        p {
            width: fit-content;
            padding: 0 15px;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-variant: all-small-caps;
            letter-spacing: 0.65px;
            
            @media (min-width: 1024px) {
                padding: 0 9px;
                font-size: 0.87rem;
            }
            &:not([class]) {
                background: var(--plashka);
                color: var(--Dark-grey);
            }
            &._new {
                background: #949A8E;
                color: white;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.detail-good__slider {
    grid-area: slider;
    width: 100%;
    // height: 100%;
    height: 83vw;
    
    @media (min-width: 1024px) {
        max-height: 760px;
        height: 47.5rem;
    }
}

.detail-good__info {
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'top top' 'calc btn';
        gap: 0.93rem;
        border-radius: 3px;
        border: 1px solid var(--plashka);
        padding: 1.25rem 0.93rem;
        position: relative;
        @media (min-width: 425px) {
            padding: 20px 15px;
            gap: 15px;
        }
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;
            padding: 2.5rem 3.75rem;
            padding-bottom: 5.62rem;
        }
        .top {
            grid-area: top;
            display: grid;
            grid-template-areas: 'title price';
            column-gap: 10px;
            @media (min-width: 1024px) {
                grid-area: unset;
                display: grid;
                grid-template-columns: 1fr 28px;
                grid-template-areas: 'title btns' 'price btns';
                column-gap: 2.18rem;
            }
            h2 {
                grid-area: title;
                color: var(--Dark-grey);
                font-family: Manrope;
                line-height: 154.545%;
                letter-spacing: 0.66px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                @media (min-width: 425px) {
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                }
                @media (min-width: 1024px) {
                    line-height: 20px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.37rem;
                }
            }
            & > p {
                display: flex;
                flex-direction: column;
                margin: unset;
                grid-area: price;
                color: var(--Dark-grey);
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.72px;
                @media (min-width: 425px) {
                    font-size: 20px;
                }
                @media (min-width: 1024px) {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                }
                span {
                    display: none;
                }
                @media (min-width: 1024px) {
                    span {
                        display: block;
                        margin-top: 4px;
                        color: var(--Dark-grey);
                        font-family: Circe;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.8px;
                    }
                }
                
            }
            .buttons {
                display: none;
                @media (min-width: 1024px) {
                    grid-area: btns;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    a {
                        width: 28px;
                        height: 28px;
                        display: flex;
                        transition: .4s;
                        &:hover {
                            transform: scale(1.1);
                        }
                        img {
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                
            }
        }
        & > ul {
            display: none;
            @media (min-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                list-style: none;
                padding: unset;
                margin: unset;
                li {
                    a {
                        display: inline-flex;
                        padding: 0.37rem 0.5rem;
                        background: var(--plashka);
                        color: var(--Dark-grey, #383838);
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.24px;
                        transition: .4s;
                        &:hover {
                            background: var(--Dark-grey);
                            color: white;
                        }
                    }
                }
            }
            
        }
        .calc {
            grid-area: calc;
            display: flex;
            
            @media (min-width: 1024px) {
                margin-top: 1.25rem;
            }
            input {
                padding: 0 10px;
                box-sizing: border-box;
                text-align: center;
                display: flex;
                justify-content: center;
                border: none;
                border-top: 1px solid var(--Dark-grey);
                border-bottom: 1px solid var(--Dark-grey);
                color: var(--Dark-grey);
                text-align: center;
                font-family: Circe;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.8px;
                min-width: 48px;
                height: 44px;
                @media (min-width: 1024px) {
                    height: unset;
                    font-size: 1rem;
                    min-width: 3.6rem;
                    padding: 0.62rem;
                }
            }
            button {
                padding: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 44px;
                border-radius: 1px;
                background: white;
                border: 1px solid var(--Dark-grey);
                color: var(--Dark-grey);
                text-align: center;
                font-family: Circe;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                outline: none;
                line-height: normal;
                letter-spacing: 0.8px;
                
                @media (min-width: 1024px) {
                    font-size: 1rem;
                    transition: .4s;
                    width: 3.5rem;
                    height: 3.12rem;
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0; 
                }
                cursor: pointer;
                &:hover {
                    background: var(--Dark-grey);
                    color: white;
                }
            }
        }
        & > button {
            grid-area: btn;
            border-radius: 1px;
            background: var(--Dark-grey);
            max-width: 300px;
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            color: #FFF;
            text-align: center;
            font-family: Circe;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: .4s;
            border: unset;
            @media (min-width: 1024px) {
                max-width: 300px;
                width: 100%;
                height: 50px;
            }
            &:hover {
                background: var(--Grey);
            }
        }
        & > p {
            display: none;
            @media (min-width: 1024px) {
                position: absolute;
                display: block;
                left: 1.25rem;
                bottom: 0.87rem;
                color: var(--Grey);
                font-family: Circe;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
            }
        }
    }
    .accordeon {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            margin-top: 3.75rem;
        }
        div.c{
            position: relative;
            @media (min-width: 1024px) {
                &._mobil {
                    display: none;
                }
            }
            
        }
        input{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity:0;
            visibility: 0;
        }
        & > p {
            position: relative;
            padding: unset;
        }
        label::before{
            content:"";
            position: absolute;
            right: 10px;
            top: 25px;
            width: 12px;
            border: unset;
            height: 6px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='5' viewBox='0 0 12 5' fill='none'%3E%3Cpath d='M6 4.5L0.803849 -9.78799e-07L11.1962 -7.02746e-08L6 4.5Z' fill='%23808080'/%3E%3C/svg%3E");
            @media (min-width: 1024px) {
                right: 1.25rem;
                top: 1.87rem;
                width: 0.75rem;
            }
        }
        label{
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px 0;
            padding-left: unset;
            color:white;
            position: relative;
            color: var(--Dark-grey);
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.26px;
            text-transform: uppercase;
            border-bottom: 1px solid var(--plashka);
            @media (min-width: 425px) {
                font-size: 18px;
                padding: 20px;
                padding-left: unset;
            }
            @media (min-width: 1024px) {
                font-size: 1.12rem;
                padding: 1.25rem;
            }
        }
        div.p {
            max-height:0px;
            overflow: hidden;
            transition:max-height 0.5s;
            background-color: white;
        }
        div.p {
            & > *:first-child {
                margin-top: 1.25rem;
            }
            & > p {
                
                color: var(--Grey);
                font-family: Circe;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                @media (min-width: 425px) {
                    font-size: 16px;
                }
                @media (min-width: 1024px) {
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    font-size: 1rem;
                }
                strong {
                    color: var(--Dark-grey);
                    font-weight: 700;
                    letter-spacing: 0.16px;
                }
            }
            ul.column {
                max-width: 490px;
                list-style: none;
                padding: unset;
                margin: unset;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                @media (min-width: 1024px) {
                    padding: 1.25rem;
                }
                li {
                    
                    p {
                        display: flex;
                        column-gap: 10px;
                        justify-content: space-between;
                        color: var(--Dark-grey);
                        font-family: Circe;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.32px;
                        @media (min-width: 425px) {
                            font-size: 16px;
                        }
                        @media (min-width: 1024px) {
                            column-gap: 3.12rem;
                            font-size: 1rem;
                        }
                        span {
                            max-width: 100px;
                            width: 100%;
                            color: var(--Grey);
                            @media (min-width: 425px) {
                                max-width: 200px;
                            }
                            @media (min-width: 1024px) {
                                max-width: 200px;
                            }
                        }
                    }
                }
            }
            ul.list {
                list-style: disc;
                padding: unset;
                padding-left: 10px;
                margin: unset;
                @media (min-width: 1024px) {
                    margin-left: 1.25rem;
                    padding-right: 1.25rem;
                    padding-left: 1.25rem;
                }
                li {
                    color: var(--Grey);
                    font-family: Circe;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.32px;
                    @media (min-width: 425px) {
                        font-size: 1rem;
                    }
                }
            }
            .line {
                background: var(--plashka);
                width: 100%;
                height: 1px;
            }
            & > a.download {
                padding: 1.25rem;
                position: relative;
                z-index: 1;
                cursor: pointer;
                width: auto;
                display: flex;
                gap: 1rem;
                align-items: center;
                color: var(--Dark-grey);
                font-family: Circe;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.48px;
                text-decoration-line: underline;
                transition: .4s;
                border: 1px solid white;
                @media (min-width: 1024px) {
                    
                }
                &:hover {
                    border: 1px solid var(--Dark-grey);
                }
            }
            & > a:not([class]) {
                cursor: pointer;
                position: relative;
                z-index: 1;
                
                color: var(--Grey);
                display: inline-flex;
                font-family: Circe;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.32px;
                text-decoration-line: underline;
                transition: .4s;
                margin-bottom: 1.25rem;
                @media (min-width: 425px) {
                    font-size: 1rem;
                }
                @media (min-width: 1024px) {
                    margin-left: 1.25rem;
                    margin-right: 1.25rem;
                }
                &:hover {
                    color: var(--Dark-grey);
                }
            }
        }
        input:checked + p label::before {
            transform: scaleY(-1);
        }
        input:checked + p + div.p{
            max-height:10000px;
        }
        a {
            color:steelblue;
        }
    }
}

.detail-good__tabs {
    @media (max-width: 1023px) {
        display: none;
    }
    .tabs {
        .tabs__nav {
            display: flex;
            .tabs__nav-item {
                button {
                    border-right: 1px solid #FFF;
                    border-left: 1px solid #FFF;
                    background: var(--plashka);
                    width: 100%;
                    height: 3.37rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--Dark-grey, #383838);
                    text-align: center;
                    font-family: Manrope;
                    font-size: 1.12rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 1.26px;
                    text-transform: uppercase;
                    transition: .4s;
                    &.tabs__nav-btn--active {
                        background: var(--Dark-grey);
                        color: #FFF;
                    }
                }
                flex:auto;
                
            }
        }
        .tabs__content {
            height: auto;
            padding-top: 2.5rem;
            box-sizing: border-box;
            & > ul {
                display: flex;
                column-gap: 1.25rem;
                list-style: none;
                margin: unset;
                padding: unset;
                li {
                    a {
                        color: var(--Grey);
                        font-family: Circe;
                        font-size: 0.87rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 142.857%;
                        letter-spacing: 0.7px;
                        text-transform: capitalize;
                        position: relative;
                        transition: .4s;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 2px;
                            width: 100%;
                            height: 1px;
                            background: var(--Grey);
                        }
                        &:hover {
                            color: var(--Dark-grey);
                            &::after {
                                background: var(--Dark-grey);
                            }
                        }
                    }
                }
            }
            .tabs__panel {
                padding-top: 5rem;
                display: none;
                .tabs__panel-content {
                    max-width: 1400px;
                    width: 100%;
                    & > p {
                        color: var(--Dark-grey);
                        font-family: Circe;
                        font-size: 1.12rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.36px;
                    }
                    & > a {
                        display: flex;
                        color: var(--Dark-grey);
                        font-family: Circe;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.48px;
                        text-decoration-line: underline;
                        &.icon {
                            img {
                                width: 3.75rem;
                                height: 3.75rem;
                                object-fit: contain;
                            }
                            margin-top: 3.75rem;
                            flex-direction: column;
                            width: fit-content;
                            row-gap: 0.75rem;
                            color: var(--Dark-grey);
                            text-align: center;
                            font-size: 0.81rem;
                            font-weight: 400;
                            line-height: 130.769%;
                            letter-spacing: 0.65px;
                            text-decoration: unset;
                        }
                    }
                    ul {
                        padding-left: 1.25rem;
                        margin: unset;
                        &.icons {
                            row-gap: 1.25rem;
                            display: flex;
                            flex-direction: column;
                            & > li {
                                padding-left: 100px;
                                position: relative;
                                & > img {
                                    width: 4.37rem;
                                    height: 4.37rem;
                                    object-fit: contain;
                                    position: absolute;
                                    left: 0;
                                    top: -5px;
                                }
                            }
                        }
                        li {
                            color: var(--Grey);
                            font-family: Circe;
                            font-size: 1.12rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.36px;
                            a {
                                color: inherit;
                                color: var(--Grey);
                                font-size: 1rem;
                                font-weight: 700;
                                letter-spacing: 0.32px;
                                text-decoration-line: underline;
                            }
                        }
                    }
                }
            }
            .tabs__panel--active {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }

    }
}