.favorits {
    width: 100%;
    .container {
        // max-width: 1560px;
    }
}
.favorits__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 1240px) {
        padding-top: 7.5rem;
        padding-bottom: 29.54rem;
    }
    h2 {
        color: var(--Dark-grey);
        text-align: center;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.84px;
        & + h3 {
            margin-top: 90px;
            margin-bottom: 20px;
        }
        @media (min-width: 992px) {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 4px;
        }
    }
}
.favorits__button {
    margin-top: 2.04rem;
    margin-left: auto;
    display: block;
    background: unset;
    border: unset;
    box-sizing: border-box;
    /* plashka */
    border: 1px solid var(--plashka);
    border-radius: 1px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    cursor: pointer;
    padding: unset;
    &:hover {
        border-color: var(--Dark-grey);
        span {
            &::after, &::before {
                background: var(--Dark-grey);
            }
        }
    }
    span {
        width: 23.4px;
        height: 23.4px;
        position: relative;
        &::after {
            content: '';
            transition: .4s;
            position: absolute;
            left: 0;
            top: 0;
            top: 50%;
            width: 100%;
            height: 3px;
            transform: translateY(-50%);
            /* Grey */
            background: var(--plashka);
        }
        &::before {
            content: '';
            transition: .4s;
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            transform: rotate(90deg);
            height: 3px;
            /* Grey */
            background: var(--plashka);
        }
    }
}

.favorits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 1.70rem;
    & > a {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0.90rem;
        padding-bottom: unset;
        box-sizing: border-box;
        /* plashka */
        border: 1px solid var(--plashka);
        border-radius: 2px;
        min-height: 20.45rem;
        &:hover {
            & > button {
                display: flex;
            }
        }
        & > button {
            position: absolute;
            right: .90rem;
            bottom: 1.36rem;
            width: 2.27rem;
            height: 2.27rem;
            display: none;
            align-items: center;
            justify-content: center;
            background: unset;
            border: unset;
            cursor: pointer;
            transition: .4s;
            &:hover {
                transform: scale(1.2);
            }
            svg {
                width: 1.25rem;
                height: 1.25rem;
            } 
        }
        .favorits__grid {
            display: grid;
            grid-template-columns: 63.77% 1fr;
            gap: 4px;
            .item {
                position: relative;
                padding-bottom: 100%;
                border-radius: 3px;
                background: rgba(0, 0, 0, 0.02);
                &:nth-child(1) {
                    grid-row: 1/3;
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        & > p {
            padding: 1.70rem 0;
            color: var(--Dark-grey);
            font-family: Manrope;
            font-size: 1.02rem;
            font-weight: 600;
            line-height: 1.42rem;
            letter-spacing: 7%;
            text-align: center;
            text-transform: uppercase;
        }
    }
}