.header {
    position: relative;
    padding: 14px 0 40px;
    
    
    @media (min-width: 993px) {
        &._pb {
            .header__top {
                justify-content: space-between;
                
                .hamburger-menu {
                    margin-right: unset;
                }
            }
        }
    }
    @media (min-width: 992px) {
        padding: 20px 0 40px;
        &._pb {
            padding-bottom: 150px;
        }
        // padding-bottom: 150px;
        .container {
            position: relative;
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 48px;
        width: 100vw;
        z-index: -1;
        height: 1px;
        background: #EBEBEB;
        @media (min-width: 992px) {
            top: 70px;
        }
    }
}
.logo {
    max-width: 128px;
    width: 100%;
    height: 62px;
    object-fit: contain;
    @media (min-width: 992px) {
        max-width: 164px;
        height: 80px;
    }
}
.header__nav {
    display: none;
    @media (min-width: 1240px) {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    p { 
        color: var(--Dark-grey);
        font-family: Manrope;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        & > ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            column-gap: 10px;
            margin: unset;
            padding: unset;
            width: 100%;
            & > li {
                position: relative;
                @media (min-width: 1240px) {
                    padding-bottom: 20px;
                }
                &:hover {
                    & > .header__catalog {
                        display: block;
                        transform: translateX(0);
                    }
                }
                &:first-child {
                    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 15px;
                        left: 0;
                        height: 1px;
                        width: 100%;
                        background: #383838;
                    }
                }
                & > a {
                    color: var(--Dark-grey);
                    text-align: center;
                    font-family: Circe;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
    
                    @media (min-width: 992px) {
                        transition: .4s;
                        &:hover {
                            // filter: brightness(100%);
                            color: black;
        
                        }
                    }
                }
            }
        }
        
    }
}
.header__bottom {
    padding-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    &:not(._fixed) {
        & > .container {
            padding: unset !important;
        }
    }
    & > .container {
        width: 100%;
    }
    &._fixed {
        position: fixed;
        margin: 0 auto;
        opacity: 0;
        // left: 50%;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        padding: 50px 0;
        z-index: 20;
        // max-width: var(--container-width);
        width: 100vw;
        background: white;
        margin: 0 auto;
        // padding: 0 var(--container-offset);
        padding-top: 20px;
        padding-bottom: 20px;
        
        &._transform {
            transform: translateY(0);
            opacity: 1;
            transition: .4s;
        }
    }
    @media (min-width: 375px) {
        column-gap: 30px;
    }
    @media (min-width: 992px) {
        padding-top: 30px;
    }
    @media (min-width: 1290px) {
        column-gap: 50px;
    }
    & > p {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 3px;
        a {
            color: var(--Dark-grey);
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1.68px;
            @media (min-width: 375px) {
                font-size: 20px;
            }
            @media (min-width: 992px) {
                font-size: 28px;
            }
        }
        span {
            text-align: right;
            color: var(--Grey);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.7px;
            @media (min-width: 375px) {
                font-size: 14px;
            }
            @media (min-width: 992px) {
                font-size: 14px;
            }
        }
    }
}
.header__top {
    padding-bottom: 10px;
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    &:not(._fixed) {
        & > .container {
            padding: unset !important;
        }
    }
    &._fixed {
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        left: 0;
        background: white;
        padding: 20px;
        opacity: 1;
        z-index: 20;
        border-bottom: 1px solid var(--plashka);
        height: 60px;
        & > button {
            display: block !important;
        }
        .hamburger-menu {
            margin-right: unset;
        }
        .logo__mobil {
            display: block;
        }
    }
    .hamburger-menu {
        margin-right: auto;
        @media (min-width: 1240px) {
            display: none;
        }
    }
    
    @media (min-width: 992px) {
        padding-bottom: 20px;
    }
    @media (min-width: 1240px) {
        column-gap: 100px;
    }
    & > * {
        min-width: 24px;
        height: 24px;
        background: unset;
        padding: unset;
        border: unset;
        cursor: pointer;
        @media (min-width: 992px) {
            min-width: 32px;
            height: 32px;
        }
        @media (max-width: 1241px) {
            &:nth-child(n+2):nth-child(-n+2), &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }
        &:hover {
            & > img {
                filter: brightness(70%);
            }
        }
        img {
            object-fit: contain;
            height: 100%;
        }
    }
}
#menu__toggle {
    opacity: 0;
    display: none;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    background-color: #FFF;
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: #FFF;
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #FFF;
}
#menu__toggle:checked ~ .menu__container {
    transform: translateX(0);
}
.menu__btn {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 12;
    @media (min-width: 992px) {
        width: 30px;
        height: 30px;
    }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
    top: -6px;
    @media (min-width: 992px) {
        top: -8px;
    }
}
.menu__btn > span::after {
    content: '';
    top: 8px;
    @media (min-width: 992px) {
        top: 10px;
    }
}
.menu__container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    max-width: 500px;
    width: 100%;
    height: 100%;
    transition-duration: .25s;
    z-index: 11;
}
.menu__box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--Grey);
    overflow: auto;
    display: flex;
    flex-direction: column;
    & > li {
        
        &:last-child {
            margin-top: auto;
            padding-left: 22px;
            padding-right: 22px;
            p {
                color: var(--Dark-grey);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.84px;
                a {
                    display: block;
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    letter-spacing: 1.6px;
                }
            }
        }
    }
}
.menu__item {
    display: block;
    padding: 12px 22px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    transition-duration: .25s;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.menu--active + ul {
        display: flex;
    }
    & + ul {
        list-style: none;
        background: #EBEBEB;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        display: none;
        flex-direction: column;
        row-gap: 10px;
        a {
            color: var(--Dark-grey);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.28px;
        }
    }
    &::after {
        content: '';
        transition: .4s;
        width: 8px;
        height: 7px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M9.89947 5.94971L4.94973 10.8995' stroke='white' stroke-width='2'/%3E%3Cpath d='M10.6066 6.65674L4.94971 0.999884' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.menu--active {
        &::after {
            transform: rotate(90deg);
        }
    }
    @media (min-width: 768px) {
        padding: 12px 80px;
    }
}
.menu__item:hover {
    background: rgba(255, 255, 255, 0.20);
}

.header__catalog {
    position: absolute;
    top: 35px;
    z-index: 20;
    left: -74px;
    transform: translateX(-100%);
    min-width: 284px;
    width: 100%;
    height: fit-content;
    transition: .4s;
    @media (min-width: 1240px) {
        &:not(._active) {
            display: none;
        }
        
    }
    &._active {
        transform: translateX(0);
        // display: flex;
    }
    // &[data-id="1"] > .header__catalog-container > ul[data-id="1"] {
    //     display: flex;
    // }
    // &[data-id="2"] > .header__catalog-container > ul[data-id="2"] {
    //     display: flex;
    // }
    // &[data-id="3"] > .header__catalog-container > ul[data-id="3"] {
    //     display: flex;
    // }
    // &[data-id="4"] > .header__catalog-container > ul[data-id="4"] {
    //     display: flex;
    // }
}
.header__catalog-container {
    padding: 24px 0 40px 29px;
    position: relative;
    background: rgba(246, 246, 246);
    height: 100%;
    @media (max-width: 1241px) {
        display: none;
    }
    & > ul {
        // display: none;
        flex-direction: column;
        list-style: none;
        margin: unset;
        padding: unset;
        & > li {
            display: flex;
            & > ul {
                display: none;
            }
            &:hover {
                a {
                    &::after {
                        width: 100%;
                        max-width: unset;
                    }
                }
                ul {
                    transform: translateX(0);
                    display: block;
                }
            }
            & > a {
                position: relative;
                padding: 4.5px 0;
                padding-left: 20px;
                z-index: 1;
                color: var(--Dark-grey);
                font-size: 14px;
                width: 100%;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.42px;
                text-transform: uppercase;
                &::after {
                    content: '';
                    left: 0;
                    top: 0;
                    max-width: 0;
                    height: 100%;
                    position: absolute;
                    background: white;
                    z-index: -1;
                    transition: .4s;
                }

            }
            & > ul {
                z-index: -1;
                position: absolute;
                list-style: none;
                right: -284px;
                height: -webkit-fill-available;
                top: 0;
                max-width: 310px;
                width: 100%;
                background: white;
                display: flex;
                flex-direction: column;
                padding: 30px 50px;
                transition: .4s;
                transform: translateX(-100%);
                li {
                    display: flex;
                    a {
                        padding: 4.5px 0;
                        width: 100%;
                        color: var(--Grey);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 142.857%;
                        transition: .4s;
                        &:hover {
                            transform: translateX(10px);
                            color: black;
                            & + img {
                                // display: block;
                                opacity: 1;
                                // min-width: 670px;
                                max-width: 40rem;
                                min-width: 40rem;
                                @media (min-width: 1550px) {
                                    min-width: 670px;
                                    max-width: 670px;
                                }
                            }
                        }
                    }
                    img {
                        opacity: 0;
                        transition: max-width .4s, opacity .4s;
                        position: absolute;
                        left: 100%;
                        overflow: hidden;
                        max-width: 0px;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        top: 0;
                    }
                }
            }
        }
    }
}

.menu__bottom {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    column-gap: 40px;
    background: var(--Dark-grey);
    padding: 0 20px;
    @media (min-width: 768px) {
        padding: 0 50px;
    }
    a {
        width: 24px;
        height: 24px;
    }
}

.header__mobil {
    position: fixed;
    left: 0;
    .container {
        width: 100%;
    }
}

.logo__mobil {
    display: none;
    object-fit: contain;
    width: 41px;
    height: 32px;
    @media (min-width: 1240px) {
        display: none;
    }
}