.hit {
    margin-top: 70px;
    width: 100%;
    @media (min-width: 992px) {
        margin-top: 160px;
    }
    h2 {
        position: relative;
        color: var(--Dark-grey);
        text-align: center;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4px;
        letter-spacing: 0.84px;
        @media (min-width: 992px) {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 40px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                top: 50%;
                width: 100%;
                height: 3px;
                background: var(--plashka);
            }
            span {
                padding: 0 105px;
                background: white;
            }
        }
    }
}
.hit__slider {
    padding-top: 33px;
    overflow: hidden;
    position: relative;
    @media (min-width: 992px) {
        padding-top: 140px;
    }
}

.hit__card {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid transparent;
    padding-bottom: 30px;
    @media (min-width: 1024px) {
        padding-bottom: 1.87rem;
    }
    &:hover {
        @media (min-width: 1024px) {
            border-bottom: 1px solid var(--plashka, #EBEBEB);
            & > button {
                opacity: 1;
                visibility: visible;
            }
            .hit__img {
                border: 1px solid var(--plashka, #EBEBEB);
            }
            .hit__img .hit__buttons {
                bottom: 0;
            }
        }
    }
    .hit__img {
        border: 1px solid transparent;
        height: 13rem;
        width: 100%;
        position: relative;
        border-radius: 3px;
        background: #f9fafa;
        overflow: hidden;
        min-height: 350px;
        @media (min-width: 425px) {
            height: 210px;
        }
        .hit__buttons {
            display: none;
        }
        @media (min-width: 1024px) {
            height: 27rem;
            min-height: unset;
            .hit__buttons {
                position: absolute;
                transition: .4s;
                left: 0;
                bottom: -80px;
                right: 0;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.70);
                backdrop-filter: blur(10px);
                column-gap: 36px;
                @media (min-width: 1024px) {
                    column-gap: 2.25rem;
                    height: 5rem;
                }
                button {
                    cursor: pointer;
                    height: 47px;
                    min-height: 55px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-end;
                    row-gap: 10px;
                    border: unset;
                    background: unset;
                    svg {
                        stroke: var(--Grey);
                        transition: .4s;
                    }
                    &:hover {
                        p {
                            color: var(--Dark-grey);
                        }
                        svg {
                            stroke: var(--Dark-grey);
                        }
                    }
                    p {
                        color: var(--Grey);
                        text-align: center;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        font-variant: all-small-caps;
                        letter-spacing: 0.52px;
                        transition: .4s;
                        @media (min-width: 1024px) {
                            font-size: 0.81rem;
                        }
                    }
                }
            }
        }
        

        .hit__label {
            position: absolute;
            left: 6px;
            top: 6px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            @media (min-width: 1024px) {
                top: 1.25rem;
                left: 20px;
                row-gap: 10px;
            }
            p {
                width: fit-content;
                padding: 0 7px;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-variant: all-small-caps;
                letter-spacing: 0.65px;
                @media (min-width: 425px) {
                    font-size: 12px;
                    padding: 0 15px;
                }
                @media (min-width: 1024px) {
                    padding: 0 9px;
                    font-size: .81rem;
                }
                &:not([class]) {
                    background: var(--plashka);
                    color: var(--Dark-grey);
                }
                &._new {
                    background: #949A8E;
                    color: white;
                }
            }

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .hit__name {
        margin-top: 10px;
        color: var(--Dark-grey);
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 8px;
        @media (min-width: 425px) {
            font-size: 20px;
        }
        @media (min-width: 768px) {
            margin-top: 20px;
            font-weight: 700;
        }
        @media (min-width: 1024px) {
            margin-bottom: 6px;
            font-size: rem(20);
        }
    }
    .hit__price {
        margin-top: auto;
        color: var(--Dark-grey);
        font-family: Manrope;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
        @media (min-width: 425px) {
            font-size: 16px;
        }
        @media (min-width: 1024px) {
            margin-top: auto;
            font-size: rem(24);
        }
    }
    & > div:not([class]) {
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: 30px;
        display: flex;
        column-gap: 10px;
        @media (min-width: 1024px) {
            opacity: 0;
            visibility: hidden;
            right: 30px;
            bottom: 30px;
        }
        button {
            background: unset;
            border: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
            padding: unset;
            svg {
                width: 100%;
                height: 100%;
            }
            @media (min-width: 1024px) {
                transition: .4s;
            }
            &:hover {
                svg {
                    stroke: var(--Dark-grey);
                }
            }
            svg {
                stroke: var(--Grey);
                transition: .4s;
            }
        }
    }
}

.hit__slider-navigation {
    margin-top: 33px;
    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        margin-top: 110px;
    }
    @media (min-width: 1240px) {
        position: relative;
    }
    a {
        color: var(--Grey);
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        transition: .4s;
        display: flex;
        align-items: center;
        @media (min-width: 992px) {
            font-size: 16px;
        }
        @media (min-width: 1240px) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            color: var(--Dark-grey);
            svg {
                fill: var(--Dark-grey);
                transform: translateX(10px);
            }
        }
        svg {
            transition: .4s;
            fill: var(--Grey);
            width: 24px;
            height: 24px;
            margin-left: 10px;
            @media (min-width: 992px) {
                margin-left: 20px;
                width: 50px;
                height: 30px;
            }
        }
    }
    div {
        width: 0px;
        @media (min-width: 1240px) {
            max-width: 164px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 50%;
                width: 1px;
                height: 100%;
                background: var(--Grey);
            }
        }
        button {
            padding: unset;
            width: 38px;
            height: 38px;
            z-index: 1;
            background: unset;
            border: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 181px;
            @media (min-width: 1240px) {
                position: unset;
            }
            & + button {
                margin-left: auto;
                transform: scale(-1);
                left: unset;
                right: 0;
            }
            svg {
                width: 8px;
                height: 19px;
            }
            &.swiper-button-disabled {
                svg {
                    fill: var(--Grey);
                }
            }
            &:not(.swiper-button-disabled) {
                svg {
                    fill: var(--Dark-grey);
                }
            }
            
        }
    }
}