.tabs {
    width: 100%;
}
.tabs__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 14px;
    margin: unset;
    padding: unset;
    & > li {
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 30px;
            border-radius: 1px;
            border: 1px solid var(--Grey);
            background: #F3F3F3;
            color: var(--Dark-grey);
            text-align: center;
            font-family: Circe;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            background: white;
            box-shadow: unset;
            transition: .4s;
            @media (min-width: 1240px) {
                font-size: 1rem;
                width: 3.37rem;
                height: 3.12rem;
            }
            &:hover {
                background: var(--Dark-grey);
                color: white;
            }
        }
    }
}
.tabs__contens {
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 110px;
    .list-item-title {
        display: flex;
        user-select: none;
        width: 100%;
        padding: 10px 0;
        border-bottom: 2px solid var(--plashka);
        background: #FFF;
        color: var(--Dark-grey);
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        transition: .4s;
        cursor: pointer;
        @media (min-width: 1240px) {
            font-size: 1.25rem;
            padding: 1.25rem 2.5rem;
            font-size: 1.5rem;
        }
        &:hover {
            border-bottom: 1px solid var(--Dark-grey);
        }
    }
    input {
        display: none;
        overflow: hidden;
    }
    .toggle-checkbox:checked + .list-item-title {
        border-bottom: unset;
    }
    .toggle-checkbox:checked + .list-item-title + .sublist {
        display: block;
    }
    
    .sublist {
        display: none;
        list-style: none;
        padding: unset;
        margin: unset;
        padding-top: 10px;
        column-count: 1; 
        column-gap: 10px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid var(--plashka);
        @media (min-width: 425px) {
            column-count: 2; 
        }
        @media (min-width: 992px) {
            column-count: 3; 
        }
        @media (min-width: 1240px) {
            column-count: 4; 
        }
        @media (min-width: 1240px) {
            padding-left: 25px;
            padding-right: 25px;
            column-count: 8; 
        }
        .list-item {
            color: var(--Dark-grey);
            font-kerning: none;
            font-family: Circe;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media (min-width: 1240px) {
                font-size: 1rem;
            }
            a {
                color: inherit;
                transition: .4s;
                display: block;
                @media (min-width: 1240px) {
                    &:hover {
                        transform: translateX(5px);
                    }  
                }
            }
        }
    }
}