<div class="achievements">
    <div class="container">
        <ul class="achievements__container">
            <li>
                <img src="./img/icon1.svg" alt="Иконка">
                <p>шоу-рум<br>в Москве<span>видео тур<br>у нас на сайте</span></p>
            </li>
            <li>
                <img src="./img/icon2.svg" alt="Иконка">
                <p><i>5000+</i><br>товаров<span>Складская программа</span></p>
            </li>
            <li>
                <img src="./img/icon3.svg" alt="Иконка">
                <p><i>3D</i><br>модели</p>
            </li>
            <li>
                <img src="./img/icon4.svg" alt="Иконка">
                <p>Система<br>скидок</p>
            </li>
            <li>
                <img src="./img/icon5.svg" alt="Иконка">
                <p>2 года<br>гарантия</p>
            </li>
            <li>
                <img src="./img/icon6.svg" alt="Иконка">
                <p>Быстрая доставка<br>по всей России</p>
            </li>
        </ul>
    </div>
</div>