<div class="basketbuy">
    <div class="container">
        <div class="basketbuy__container">
            <div class="basketbuy__content">
                <ul>
                    <li>
                        <p>1. регион доставки</p>
                        <div class="content">
                            <p>Укажите город доставки *</p>
                            <div class="form">
                                <div class="search">
                                    <input type="text" placeholder="Введите название">
                                </div>
                                <p>Выберите свой город из списка</p>
                                <button type="button" class="btn _black">Далее</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>2. доставка</p>
                        <div class="content">
                            <div class="delivery">
                                <label class="custom-checkbox">
                                  <input type="radio" class="custom-checkbox__field" name="delivery">
                                  <span class="custom-checkbox__content"></span>
                                  
                                  <p>До терминала транспортной компании в Москве
                                    <span>0 ₽</span>
                                  </p>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    <div class="footnote">
                                        <p>* за пределы МКАД + 60 р. за каждый километр. Срок доставки 1-3 дня, осуществляется по будням в течение дня, без услуги подъема.
                                            <br><strong>ВНИМАНИЕ!</strong> Доплата за удаленность от МКАД оплачивается по дополнительному счету.
                                            
                                        </p>
                                    </div>
                                    <p>Доставка по Москве, в пределах МКАД&nbsp;*
                                      <span>1500 ₽</span>
                                    </p>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    <div class="footnote">
                                        <p>*  + 60 р. за каждый км от МКАД. Срок доставки 1-3 дня, осуществляется по будням в течение дня, без услуги подъема.
                                            <br><strong>ВНИМАНИЕ!</strong> Доплата за удаленность от МКАД оплачивается по дополнительному счету.</p>
                                    </div>
                                    <p>Доставка за пределы МКАД&nbsp;*
                                      <span>11500 ₽ + 60 ₽/км</span>
                                    </p>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    <div class="footnote">
                                        <p>*  Самовывоз со склада с понедельника по четверг 
                                            с 9 до 17-00, в пятницу с 9 до 16-00 (выходные: сб, вс)                                            
                                        </p>
                                    </div>
                                    <p>Самовывоз (г. Москва, ул. Адмирала Корнилова, д. 61
                                      <span>0 ₽</span>
                                    </p>
                                    
                                </label>
                            </div>
                            <button type="button" class="btn _black">Далее</button>
                        </div>
                    </li>
                    <li>
                        <p>3. оплата</p>
                        <div class="content">

                        </div>
                    </li>
                    <li>
                        <p>4. покупатель</p>
                        <div class="content">
                            
                        </div>
                    </li>
                </ul>
            </div>
            <aside class="basketbuy__aside">
                <div class="basketbuy__order">
                    <p class="title">Ваш заказ</p>
                    <div class="basketbuy__order-content">
                        <div class="sum">
                            <p><span>Товары на сумму:</span></p>
                            <p>
                                <strong>174 803 ₽</strong>
                                <del>182 832 ₽</del>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <p><span>Общий вес:</span><strong>3200 г</strong></p>
                            </li>
                            <li>
                                <p><span>Доставка:</span><strong class="_strong">бесплатно</strong></p>
                            </li>
                            <li>
                                <p><span>Экономия:</span><strong>8 029 ₽</strong></p>
                            </li>
                            <li>
                                <p class="sum"><span>Итого:</span><strong>174 803 ₽</strong></p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="basketbuy__goods">
                    <p class="title">Ваш заказ</p>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="/img/good1.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QN-HADRIAN-MINI-F-CM-OPAL</a>
                            <p><span>5 шт.</span>
                                <strong>121 160 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good2.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник HK-SUSSEX-SF</a>
                            <p><span>1 шт.</span>
                                <strong>53 643 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good3.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</a>
                            <p><span>2 шт.</span>
                                <strong>42 744 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good4.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник HK-SUSSEX-SF</a>
                            <p><span>1 шт.</span>
                                <strong>53 643 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good5.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</a>
                            <p><span>2 шт.</span>
                                <strong>42 744 ₽</strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>