<div class="basketbuy">
    <div class="container">
        <form class="basketbuy__container">
            <div class="basketbuy__content">
                <ul class="basketbuy-js">
                    <li data-true="true" data-edit="false">
                        <p>1. регион доставки
                            <span class="edit-js">изменить</span>
                        </p>
                        <div class="content">
                            <p>Укажите город доставки *</p>
                            <div class="form">
                                <div class="search">
                                    <input type="text" placeholder="Введите название" class="city-js">
                                </div>
                                <p>Выберите свой город из списка</p>
                                <button type="button" class="btn _black city-btn-js" disabled >Далее</button>
                            </div>
                        </div>
                    </li>
                    <li data-true="false" data-edit="false">
                        <p>2. доставка
                            <span class="edit-js">изменить</span>
                        </p>
                        <div class="content">
                            <div class="delivery">
                                <label class="custom-checkbox">
                                  <input type="radio" class="custom-checkbox__field" name="delivery">
                                  <span class="custom-checkbox__content"></span>
                                  
                                  <p>До терминала транспортной компании в Москве
                                    <span>0 ₽</span>
                                  </p>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    <p>Доставка по Москве, в пределах МКАД&nbsp;*
                                      <span>1500 ₽</span>
                                    </p>
                                    <div class="footnote">
                                        <p>* за пределы МКАД + 60 р. за каждый километр. Срок доставки 1-3 дня, осуществляется по будням в течение дня, без услуги подъема.
                                            <br><strong>ВНИМАНИЕ!</strong> Доплата за удаленность от МКАД оплачивается по дополнительному счету.
                                        </p>
                                    </div>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    <p>Доставка за пределы МКАД&nbsp;*
                                      <span>11500 ₽ + 60 ₽/км</span>
                                    </p>
                                    <div class="footnote">
                                        <p>*  + 60 р. за каждый км от МКАД. Срок доставки 1-3 дня, осуществляется по будням в течение дня, без услуги подъема.
                                            <br><strong>ВНИМАНИЕ!</strong> Доплата за удаленность от МКАД оплачивается по дополнительному счету.</p>
                                    </div>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="delivery">
                                    <span class="custom-checkbox__content"></span>
                                    
                                    <p>Самовывоз (г. Москва, ул. Адмирала Корнилова, д. 61
                                      <span>0 ₽</span>
                                    </p>
                                    <div class="footnote">
                                        <p>*  Самовывоз со склада с понедельника по четверг 
                                            с 9 до 17-00, в пятницу с 9 до 16-00 (выходные: сб, вс)                                            
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <button type="button" class="btn _black delivery-btn-js" disabled>Далее</button>
                        </div>
                    </li>
                    <li data-true="false" data-edit="false">
                        <p>3. оплата
                            <span class="edit-js">изменить</span>
                        </p>
                        <div class="content">
                            <div class="delivery">
                                <label class="custom-checkbox">
                                  <input type="radio" class="custom-checkbox__field" name="payments">
                                  <span class="custom-checkbox__content"></span>
                                  
                                  <p>Банковской картой на сайт</p>
                                  <p class="images">
                                    <img src="/img/_visa.png" alt="Visa">
                                    <img src="/img/_mastercard.png" alt="Mastercard">
                                    <img src="/img/_mir.png" alt="Mir">
                                  </p>
                                  
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="payments">
                                    <span class="custom-checkbox__content"></span>
                                    <p>Квитанция Сбербанка</p>
                                    <p class="images">
                                        <img src="/img/_sber.png" alt="Sber">
                                      </p>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="radio" class="custom-checkbox__field" name="payments">
                                    <span class="custom-checkbox__content"></span>
                                    <p>Наличными в офисе</p>
                                    <p class="images">
                                        <img src="/img/_wallet.svg" alt="Wallet">
                                    </p>
                                </label>
                            </div>
                            <button type="button" class="btn _black payment-btn-js" disabled>Далее</button>
                        </div>
                    </li>
                    <li data-true="false" data-edit="false">
                        <p>4. покупатель
                            <span class="edit-js">изменить</span>
                        </p>
                        <div class="content">
                            <div class="buyer buyer-js">
                                <div class="form__placeholder-container form__placeholder-container--js _firstname">
                                    <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="name1" />
                                    <label for="name">Имя *</label>
                                </div>
                                <div class="form__placeholder-container form__placeholder-container--js _lastname">
                                    <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="lastname1" />
                                    <label for="name">Фамилия *</label>
                                </div>   
                                <div class="form__placeholder-container form__placeholder-container--js _email">
                                    <input class="form__input--js" type="email" name="email" placeholder=" " required="required" id="email1" />
                                    <label for="email">E-mail *</label>
                                </div> 
                                <div class="form__placeholder-container form__placeholder-container--js _phone">
                                    <input class="form__input--js" type="text" name="phone" placeholder=" " required="required" id="phone1" />
                                    <label for="phone">Телефон *</label>
                                </div>
                                <div class="form__placeholder-container form__placeholder-container--js _address">
                                    <textarea class="form__input--js" name="comment" id="address" placeholder=" " autocomplete="off"></textarea>
                                    <label for="comment">Адрес доставки</label>
                                </div>
                                <div class="form__placeholder-container form__placeholder-container--js _comment">
                                    <textarea class="form__input--js" name="comment" id="comment" placeholder=" " autocomplete="off"></textarea>
                                    <label for="comment">Комментарий к заказу</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <div class="basketbuy__content-bottom bottom-js">
                <label class="custom-checkbox" >
                    <input type="checkbox" class="custom-checkbox__field bottom-check-js" checked >
                    <span class="custom-checkbox__content">Нажимая кнопку «Оформить заказ», я принимаю условия конфиденциальности персональных данных</span>
                </label>
                <input type="submit" class="submit-js" value="Отправить">
            </div>
                
            </div>
            <aside class="basketbuy__aside">
                <div class="basketbuy__order">
                    <p class="title">Ваш заказ</p>
                    <div class="basketbuy__order-content">
                        <div class="sum">
                            <p><span>Товары на сумму:</span></p>
                            <p>
                                <strong>174 803 ₽</strong>
                                <del>182 832 ₽</del>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <p><span>Общий вес:</span><strong>3200 г</strong></p>
                            </li>
                            <li>
                                <p><span>Доставка:</span><strong class="_strong">бесплатно</strong></p>
                            </li>
                            <li>
                                <p><span>Экономия:</span><strong>8 029 ₽</strong></p>
                            </li>
                            <li>
                                <p class="sum"><span>Итого:</span><strong>174 803 ₽</strong></p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="basketbuy__goods">
                    <p class="title">Ваш заказ</p>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="/img/good1.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QN-HADRIAN-MINI-F-CM-OPAL</a>
                            <p><span>5 шт.</span>
                                <strong>121 160 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good2.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник HK-SUSSEX-SF</a>
                            <p><span>1 шт.</span>
                                <strong>53 643 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good3.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</a>
                            <p><span>2 шт.</span>
                                <strong>42 744 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good4.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник HK-SUSSEX-SF</a>
                            <p><span>1 шт.</span>
                                <strong>53 643 ₽</strong>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/good5.png" alt="Товар">
                            </a>
                            <a href="#">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</a>
                            <p><span>2 шт.</span>
                                <strong>42 744 ₽</strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </aside>
        </form>
    </div>
</div>