<div class="brands">
    <div class="container">
        <ul class="brands__container">
            <li>
                <a href="#">
                    <img src="img/hinkley.svg" alt="Hinkley">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/feiss.svg" alt="Feiss">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/elstead.svg" alt="Elstead">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/kichler.svg" alt="Kichler">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/flambeau.svg" alt="Flambeau">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/norlys.svg" alt="Norlys">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/quoizel.svg" alt="Quoizel">
                </a>
            </li>
        </ul>
    </div>
</div>
