<div class="catalog">
    <div class="container">
        <h2>Интерьерный свет</h2>
        <ul>
            <li>
                <a href="#">
                    <img src="./img/icon/bra.svg" alt="Бра">
                    Бра
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/brabathroom.svg" alt="Бра для ванных комнат">
                    Бра для ванных комнат
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/lustra.svg" alt="Люстры">
                    Люстры
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/lustrabashroom.svg" alt="Люстры для ванных комнат">
                    Люстры для ванных комнат
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/desclamp.svg" alt="Настольные лампы">
                    Настольные лампы
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/svgfan.svg" alt="ЛЮСТРЫ-ВЕНТИЛЯТОРЫ">
                    ЛЮСТРЫ-ВЕНТИЛЯТОРЫ
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/lamp.svg" alt="Подвесные светильники">
                    Подвесные светильники
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/lamp1.svg" alt="потолочные светильники">
                    Потолочные светильники
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/svet1.svg" alt="Потолочные светильники для ванных комнат">
                    Потолочные светильники для ванных комнат
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/svet2.svg" alt="Светильники для картин">
                    Светильники для картин
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/svet3.svg" alt="Торшеры / Напольные лампы">
                    Торшеры / Напольные лампы
                </a>
            </li>
        </ul>
        <h2>Уличный свет</h2>
        <ul>
            <li>
                <a href="#">
                    <img src="./img/icon/icon1.svg" alt="Ландшафтный свет">
                    Ландшафтный свет
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon2.svg" alt="Переносные фонари">
                    Переносные фонари
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon3.svg" alt="Люстры">
                    Настенные фонари
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon4.svg" alt="Люстры для ванных комнат">
                    Подвесные фонари
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon5.svg" alt="Настольные лампы">
                    потолочные фонари
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon6.svg" alt="ЛЮСТРЫ-ВЕНТИЛЯТОРЫ">
                    Фонари-пьедесталы
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon7.svg" alt="Подвесные светильники">
                    ЛЮСТРЫ-ВЕНТИЛЯТОРЫ
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon8.svg" alt="потолочные светильники">
                    Фонарные столбы
                </a>
            </li>
        </ul>
        <h2>АКСЕССУАРЫ и декор</h2>
        <ul>
            <li>
                <a href="#">
                    <img src="./img/icon/icon9.svg" alt="Ландшафтный свет">
                    Лампочки
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon10.svg" alt="Переносные фонари">
                    Абажуры и плафоны
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon11.svg" alt="Люстры">
                    комплектующие к ландшафтному свету
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/icon/icon12.svg" alt="Люстры для ванных комнат">
                    декор
                </a>
            </li>
        </ul>
    </div>
</div>