<section class="favorits">
    <div class="container">
        <div class="favorits__container">
            <h2>Сравнение выбранных позиций</h2>
            <div class="compare">
                <ul class="compare__header">
                    <li></li>
                    <li>Наличие</li>
                    <li>Бренд</li>
                    <li>Коллекция</li>
                    <li>Цоколь</li>
                    <li>ширина (диаметр)</li>
                    <li>Высота изделия</li>
                    <li>количество ламп</li>
                    <li>мощность</li>
                    <li>ip рейтинг</li>
                    <li>материал основания *</li>
                    <li>цвет основания</li>
                    <li>материал абажура / плафона</li>
                    <li>цвет абажура / плафона</li>
                    <li>выступ для бра, мм</li>
                    <li>напряжение</li>
                    <li>ширина, мм</li>
                    <li>длина, мм</li>
                    <li>высота, мм</li>
                    <li>вес брутто, кг</li>
                    <li>3d модель</li>
                    

                </ul>
                <div class="compare__list" id="scrollableContent">
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="compare__img">
                                <img src="/img/bath1.png" alt="">
                                <button onclick="event.preventDefault()">
                                    <img src="/img/button-lightgrey.svg" alt="">
                                </button>
                            </a>
                            <a href="#" class="compare__title">
                                <p>
                                    <span>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</span>
                                    <strong>21 372 ₽</strong>
                                </p>
                            </a>
                            <button class="btn _black">В корзину</button>
                        </li>
                        <li>В наличии</li>
                        <li>Quoizel</li>
                        <li>CHANCE (QZ)</li>
                        <li>E27</li>
                        <li>331</li>
                        <li>155</li>
                        <li>2</li>
                        <li>60</li>
                        <li>IP44</li>
                        <li>Металл</li>
                        <li>CHANCE (QZ)</li>
                        <li>Полированный никель</li>
                        <li>331</li>
                        <li>-</li>
                        <li>220</li>
                        <li>407</li>
                        <li>407</li>
                        <li>220</li>
                        <li>3,7</li>
                        <li>-</li>
                    </ul>
                </div>
                <button id="scrollRightButton">
                    <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.72985 0L0 2.35L5.61894 10L0 17.65L1.72985 20L9.09091 10L1.72985 0Z" fill="#808080"/>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>
<script>
    document.getElementById("scrollRightButton").addEventListener("click", function() {
        var scrollableContent = document.getElementById("scrollableContent");
        // Получаем текущую позицию скролла и добавляем 100px к ней
        var newScrollLeft = scrollableContent.scrollLeft + 100;
        // Прокручиваем контент вправо на 100px
        scrollableContent.scrollTo({
            left: newScrollLeft,
            behavior: 'smooth' // Для плавной анимации прокрутки
        });
    });
</script>
