<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container _contacts">
            <ul>
                <li>
                    <img src="/img/phonei.svg" alt="Иконка">
                    <h3>Контакты</h3>
                    <p><strong>Телефон:</strong> <a href="tel:88005555792">8 (800) 555 57 92</a><br>
                        Звонок по России бесплатный, ежедневно с 9.00 до 19.00 по Московскому времени<br>
                        <strong>Электронная почта:</strong> <a href="mailto:info@n-con.ru">info@n-con.ru</a>
                    </p>
                </li>
                <li>
                    <img src="/img/loc.svg" alt="Иконка">
                    <h3>ШОУ-РУМ</h3>
                    <p>
                        <strong>Адрес:</strong> г. Москва, Дизайн-центр Artplay, ул. Нижняя Сыромятническая, д. 10, стр. 7<br>
                        <strong>Часы работы:</strong> пн-пт: 10.00 - 19.00, сб: 11.00 - 18.00, вс: выходной
                    </p>
                    <a href="#">СХЕМА ПРОЕЗДА<img src="/img/print.svg" alt="Иконка"></a>
                </li>
                <li>
                    <img src="/img/home.svg" alt="Иконка">
                    <h3>ЦЕНТРАЛЬНый ОФИС</h3>
                    <p>
                        <strong>Адрес:</strong> г. Москва, Саларьево, ул. Адмирала Корнилова, д. 61<br>
                        <strong>Часы работы:</strong> пн-чт: 09.00 - 18.00, пт: 09.00 - 17.00, сб, вс: выходной
                    </p>
                </li>
                <li>
                    <img src="/img/letter.svg" alt="Иконка">
                    <h3>РЕКВИЗИТЫ</h3>
                    <p>
                        <strong>Индивидуальный предприниматель Аваков Рубен Альбертович</strong><br>
                        Юридический адрес: 117574, Москва г,<br>
                        Новоясеневский проспект, д. № 14, корпус 2, кв. 405, <br>
                        ИНН 772815612605, <br>
                        р/с 40802810402010000205 в АО "АЛЬФА-БАНК" г. Москва,  <br>
                        к/сч 30101810200000000593, БИК 044525593, <br>
                        ОКВЭД 52.44, ОГРНИП 316774600266844, <br>
                        Свидетельство о регистрации 77 No 017825248 от 31.05.2016<br>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>ОБРАТНАЯ СВЯЗЬ</h2>
        </div>
        <form class="loyaliti__form _contacts">
            <div class="form__placeholder-container form__placeholder-container--js">
                <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="name" />
                <label for="name">Имя *</label>
            </div>   
            <div class="form__placeholder-container form__placeholder-container--js">
                <input class="form__input--js" type="text" name="phone" placeholder=" " required="required" id="phone" />
                <label for="phone">Телефон *</label>
            </div>
            <div class="form__placeholder-container form__placeholder-container--js">
                <input class="form__input--js" type="email" name="email" placeholder=" " required="required" id="email" />
                <label for="email">E-mail *</label>
            </div> 
            <div class="form__placeholder-container form__placeholder-container--js">
                <textarea class="form__input--js" name="comment" id="comment" placeholder=" " autocomplete="off"></textarea>
                <label for="comment">Ваше сообщение</label>
            </div>            
            <label class="custom-checkbox" >
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">Я согласен на обработку персональных данных</span>
            </label>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>