<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>Условия и сроки доставки товара</h2>
            <ul>
                <li>
                    <img src="img/transport.svg" alt="Иконка">
                    <h3>Доставка товара</h3>
                    <p>Со склада Продавца по Москве и Московской области осуществляется с понедельника по пятницу (кроме праздничных дней)</p>
                </li>
                <li>
                    <img src="img/calendar.svg" alt="Иконка">
                    <h3>Сроки доставки</h3>
                    <p>По Москве и до терминалов транспортных компаний составляет <strong>3-5 рабочих дней</strong> с момента отправки подтверждения заказа</p>
                </li>
                <li>
                    <img src="img/wallet.svg" alt="Иконка">
                    <h3>Стоимость доставки</h3>
                    <ul>
                        <li>по Москве (внутри МКАД) – 1500 руб.</li>
                        <li>за МКАД – 1500 руб. + от 60 руб. / 1 км</li>
                    </ul>
                    <p><strong>бесплатная доставка действует на заказы от суммы 80 000 руб. с учетом всех скидок, оформленные на сайте</strong></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>Дополнительная информация</h2>
            <ul class="nota">
                <li>Оплатить доставку возможно в момент получения товара или на сайте после согласования точной стоимости с нашим оператором.</li>
                <li>В случае корректировки состава заказа, стоимость доставки может измениться. Подробности уточняйте у менеджера.</li>
                <li>Стоимость дополнительных услу (подъем товара, ожидание клиента свыше 30 минут) рассчитывается и оплачивается дополнительно.</li>
                <li>Доставка в регионы России осуществляется в соответствии с тарифами транспортных компаний. Вы можете рассчитать стоимость доставки и оплатить услугу на сайте. Также вы можете выбрать удобную транспортную компанию и заказать отгрузку у нашего оператора с оплатой услуги при получении груза.</li>
                <li>В момент получения товара просим вас сразу проверить комплектность изделия, внешний вид на предмет дефектов и видимых повреждений.</li>
            </ul>
        </div>
    </div>
</div>
<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>Задать вопрос о нестандартной доставке</h2>
        </div>
        <form class="loyaliti__form">
            <div class="form__placeholder-container form__placeholder-container--js">
                <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="name" />
                <label for="name">Имя *</label>
            </div>   
            <div class="form__placeholder-container form__placeholder-container--js">
                <input class="form__input--js" type="email" name="email" placeholder=" " required="required" id="email" />
                <label for="email">E-mail *</label>
            </div> 
            <div class="form__placeholder-container form__placeholder-container--js">
                <textarea class="form__input--js" name="comment" id="comment" placeholder=" " autocomplete="off"></textarea>
                <label for="comment">Задайте вопрос</label>
            </div>            
            <label class="custom-checkbox" >
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">Я согласен на обработку персональных данных</span>
            </label>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>