<div class="detail-good">
    <div class="container">
        <div class="detail-good__container">
            <div class="detail-good__slider swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide detail-good__slide">
                        <img src="./img/goods/lampa.png" alt="Слайд" />
                        <div class="hit__label">
                            <p style="background: #949A8E; color: white;">новинка</p>
                        </div>
                    </div>
                    <div class="swiper-slide detail-good__slide">
                        <img src="./img/goods/good4.png" alt="Слайд" />
                    </div>
                    <div class="swiper-slide detail-good__slide">
                        <img src="./img/goods/good2.png" alt="Слайд" />
                    </div>
                </div>
                <!-- <p>Цвет отделки может отличаться от фото</p> -->
            </div>
            <div class="swiper mySwiper detail-good__thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide detail-good__thumbs-good">
                        <img src="./img/goods/lampa.png" alt="Слайд" />
                    </div>
                    <div class="swiper-slide detail-good__thumbs-good">
                        <img src="./img/goods/good4.png" alt="Слайд" />
                    </div>
                    <div class="swiper-slide detail-good__thumbs-good">
                        <img src="./img/goods/good2.png" alt="Слайд" />
                    </div>
                </div>
            </div>
            <div class="detail-good__info">
                <div class="info">
                    <div class="top">
                        <h2>Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</h2>
                        <p>21 372 ₽
                            <span>В наличии</span>
                        </p>
                        <div class="buttons">
                            <a href="#"><img src="./img/favorite_light.svg" alt="Иконка"></a>
                            <a href="#"><img src="./img/compare.svg" alt="Иконка"></a>
                            <a href="#"><img src="./img/print.svg" alt="Иконка"></a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">шоу-рум ARTPLAY</a>
                        </li>
                        <li>
                            <a href="#">шоу-рум Юго-Запад</a>
                        </li>
                        <li>
                            <a href="#">Склад в Москве</a>
                        </li>
                    </ul>
                    <div class="calc">
                        <button>-</button>
                        <input step="1" min="1" max="9999" type="number" value="1">
                        <button>+</button>
                    </div>
                    <button>В корзину</button>
                    <p>Стоимость доставки будет расчитана при оформлении</p>
                </div>
                <div class="accordeon">
                    <div class="c">
                        <input type="checkbox" id="faq-1">
                        <p><label for="faq-1">Информация о товаре</label></p>
                        <div class="p">
                            <ul class="column">
                                <li><p>Категория: <span>Потолочные вентиляторы</span></p></li>
                                <li><p>Бренд: <span>Kichler</span></p></li>
                                <li><p>Артикул: <span>KLF-SOLA-34-BN</span></p></li> 
                                <li><p>Коллекция: <span>SOLA</span></p></li> 
                                <li><p>Цоколь: <span>Integrated LED</span></p></li> 
                                <li><p>Высота изделия: <span>280 мм</span></p></li> 
                                <li><p>Количество ламп: <span>1 шт</span></p></li> 
                                <li><p>Мощность: <span>10 Вт</span></p></li> 
                                <li><p>IP рейтинг: <span>IP23</span></p></li> 
                                <li><p>Цветовая температура (К): <span>3000</span></p></li> 
                                <li><p>Напряжение: <span>220 В</span></p></li> 
                                <li><p>Применение: <span>Уличный свет</span></p></li> 
                                <li><p>Страна происхождения бренда: <span>США</span></p></li>    
                                <li><p>Размер упаковки (ДхШxВ): <span>537х304х285</span></p></li> 
                                <li><p>Вес брутто, кг: <span>8.06</span></p></li>  
                            </ul>
                            <div class="line"></div>
                            <a href="#" class="download">
                                <img src="./img/pdf.svg" alt="PDF">
                                Скачать инструкцию по монтажу</a>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="c">
                        <input type="checkbox" id="faq-2">
                        <p><label for="faq-2">Оплата</label></p>
                        <div class="p">
                            <p>Для вашего удобства мы предусмотрели разные способы оплаты заказа:</p>
                            <ul class="list">
                                <li>Банковской картой на сайте или в шоу-руме</li>
                                <li>Наличными при получении заказа</li>
                                <li>По квитанции Сбербанка</li>
                                <li>Подробнее об оплате</li>
                            </ul>
                            <a href="#">Подробнее об оплате</a>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="c">
                        <input type="checkbox" id="faq-3">
                        <p><label for="faq-3">Доставка и Гарантия</label></p>
                        <div class="p">
                            <p><strong>Бесплатная доставка по Москве при заказе от 80 000 рублей</strong></p>
                            <p>Вы можете выбрать наиболее подходящий для вас способ доставки товара:</p>
                            <ul class="list">
                                <li>Курьером по Москве – от 1 до 3 дней</li>
                                <li>Самовывоз – от 1 дня</li>
                                <li>Транспортной компанией – от 3 до 7 дней</li>
                            </ul>
                            <a href="#">Подробнее о доставке</a>
                            <p><strong>Гарантия</strong></p>
                            <p>На товар предоставляется гарантия 24 месяца с момента получения его покупателем.</p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>