<div class="dilers">
    <div class="container">
        <div class="dilers__container">
            <div class="dilers__select">
                <div class="custom-select">
                    <select>
                      <option value="0">Выберите город</option>
                      <option value="1">Москва</option>
                      <option value="2">Нижний Новогород</option>
                    </select>
                  </div>
            </div>
            <div class="dilers__list">
                <div class="dilers__item">
                    <p class="title">Natural Concepts
                        <span>105120, Москва, ул. Ниж. Сыромятническая, д 10, корп. 7, дизайн-центр Artplay)</span>
                    </p>
                    <p class="time">пн-пт: 10.00-19.00, сб: 11.00-18.00, вс: выходной</p>
                    <p class="phone"><a href="tel:88005555792">+7 800 555-57-92</a></p>
                    <p class="email"><a href="mailto:artplay@n-con.ru">artplay@n-con.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Gramercy Home, 
                        <span>г. Москва, Краснохолмская набережная, д. 11, стр. 1</span>
                    </p>
                    <p class="time">пн-пт: 10:00 - 20:00, сб-вс: 11:00 - 20:00</p>
                    <p class="phone"><a href="tel:84956681005">+7 (495) 668-10-05</a></p>
                    <p class="email"><a href="mailto:info@gramercy-home.ru">info@gramercy-home.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Nesthome
                        <span>603089, Нижегородская обл, г. Нижний Новгород, Республиканская ул, дом 43, корпус 7</span>
                    </p>
                    <p class="time">пн-пт: 10:00-19:00, сб: 10:00-16:00, вс: выходной</p>
                    <p class="phone"><a href="tel:88312180020">+7 (831) 218-00-20</a></p>
                    <p class="email"><a href="mailto:info@nesthome.ru">info@nesthome.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Nesthome
                        <span>603089, Нижегородская обл, г. Нижний Новгород, Республиканская ул, дом 43, корпус 7</span>
                    </p>
                    <p class="time">пн-пт: 10:00-19:00, сб: 10:00-16:00, вс: выходной</p>
                    <p class="phone"><a href="tel:88312180020">+7 (831) 218-00-20</a></p>
                    <p class="email"><a href="mailto:info@nesthome.ru">info@nesthome.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Natural Concepts
                        <span>105120, Москва, ул. Ниж. Сыромятническая, д 10, корп. 7, дизайн-центр Artplay)</span>
                    </p>
                    <p class="time">пн-пт: 10.00-19.00, сб: 11.00-18.00, вс: выходной</p>
                    <p class="phone"><a href="tel:88005555792">+7 800 555-57-92</a></p>
                    <p class="email"><a href="mailto:artplay@n-con.ru">artplay@n-con.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Gramercy Home, 
                        <span>г. Москва, Краснохолмская набережная, д. 11, стр. 1</span>
                    </p>
                    <p class="time">пн-пт: 10:00 - 20:00, сб-вс: 11:00 - 20:00</p>
                    <p class="phone"><a href="tel:84956681005">+7 (495) 668-10-05</a></p>
                    <p class="email"><a href="mailto:info@gramercy-home.ru">info@gramercy-home.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Nesthome
                        <span>603089, Нижегородская обл, г. Нижний Новгород, Республиканская ул, дом 43, корпус 7</span>
                    </p>
                    <p class="time">пн-пт: 10:00-19:00, сб: 10:00-16:00, вс: выходной</p>
                    <p class="phone"><a href="tel:88312180020">+7 (831) 218-00-20</a></p>
                    <p class="email"><a href="mailto:info@nesthome.ru">info@nesthome.ru</a></p>
                </div>
                <div class="dilers__item">
                    <p class="title">Nesthome
                        <span>603089, Нижегородская обл, г. Нижний Новгород, Республиканская ул, дом 43, корпус 7</span>
                    </p>
                    <p class="time">пн-пт: 10:00-19:00, сб: 10:00-16:00, вс: выходной</p>
                    <p class="phone"><a href="tel:88312180020">+7 (831) 218-00-20</a></p>
                    <p class="email"><a href="mailto:info@nesthome.ru">info@nesthome.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</div>