<section class="favorits">
    <div class="container">
        <div class="favorits__container">
            <h2>Ваши Подборки светильников</h2>
            <div class="basket__container _empty">
                <div class="basket__select-container">
                    <select>
                        <option>Для ванной комнаты</option>
                    </select>
                </div>
                
 
            </div>
            <div class="order__card-podborka-container">
                <div class="empty">
                    <img src="img/podborka.svg" alt="">
                    <p>подборок пока нет</p>
                </div>
                <button class="btn _black">Создать подборку</button>
                <a href="#">Перейти в каталог</a>
            </div>
        </div>
    </div>
</section>
