<section class="favorits">
    <div class="container">
        <div class="favorits__container">
            <h2>Ваши Подборки светильников</h2>
            <div class="basket__container">
                <div class="basket__select-container">
                    <select>
                        <option>Для ванной комнаты</option>
                    </select>
                </div>
                
                <div class="basket__header">
                    <p>товар</p>
                    <p>цена</p>
                    <p>количество</p>
                    <p>сумма</p>
                    <p>доступность</p>
                    <p></p>
                </div>
                <div class="basket__item _favorit">
                    <div class="basket__checkdb-container">
                        <label class="checkb">
                            <input type="checkbox" />
                            <span class="custom-checkbox__content"></span>
                            <img src="/img/basket1.png" alt="Товар">
                        </label>
                        <button>ПЕРЕНЕСТИ В ДРУГОЙ СПИСОК</button>
                    </div>
                    <a href="#" class="basket__link">
                        <p class="title">Потолочный светильник для ванных комнат QN-HADRIAN-MINI-F-CM-OPAL
                            <span>Скидка 5%</span>
                        </p>
                        <ul>
                            <li>Ширина (диаметр): <strong>196 мм</strong></li>
                            <li>Высота изделия: <strong>185 мм</strong></li>
                            <li>Количество ламп: <strong>1 шт</strong></li>
                            <li>Мощность:<strong>60 Вт</strong></li>
                            <li>IP рейтинг:<strong>IP44</strong></li>
                            <li>Цоколь: <strong>E27</strong></li>
                        </ul>
                    </a>
                    <div class="price">
                        <p class="price">
                            <del>25 506 ₽</del>
                            <strong>24 231 ₽</strong>
                            <span>за шт.</span>
                        </p>
                    </div>
                    <div class="calc__container">
                        <div class="calc">
                            <button>-</button>
                            <input value="5"></input>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price sum">
                        <p class="price">
                            <del>127 530 ₽</del>
                            <strong>121 160 ₽</strong>
                            <span>сумма</span>
                        </p>
                    </div>
                    <div class="availability">
                        <p>На складе в Москве</p>
                    </div>
                    <div class="delete">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M11.667 17.5L11.667 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M16.333 17.5L16.333 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M3.5 8.1665H24.5V8.1665C23.0955 8.1665 22.3933 8.1665 21.8889 8.50356C21.6705 8.64948 21.483 8.83698 21.3371 9.05536C21 9.55981 21 10.262 21 11.6665V19.3332C21 21.2188 21 22.1616 20.4142 22.7474C19.8284 23.3332 18.8856 23.3332 17 23.3332H11C9.11438 23.3332 8.17157 23.3332 7.58579 22.7474C7 22.1616 7 21.2188 7 19.3332V11.6665C7 10.262 7 9.55981 6.66294 9.05536C6.51702 8.83698 6.32952 8.64948 6.11114 8.50356C5.60669 8.1665 4.90446 8.1665 3.5 8.1665V8.1665Z" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M11.7458 3.93236C11.8788 3.80832 12.1717 3.69872 12.5792 3.62054C12.9867 3.54237 13.486 3.5 13.9997 3.5C14.5133 3.5 15.0126 3.54237 15.4201 3.62054C15.8276 3.69872 16.1206 3.80832 16.2535 3.93236" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="basket__item-buttons-mobil">
                        <button>ПЕРЕНЕСТИ В ДРУГОЙ СПИСОК</button>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M11.667 17.5L11.667 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M16.333 17.5L16.333 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M3.5 8.1665H24.5V8.1665C23.0955 8.1665 22.3933 8.1665 21.8889 8.50356C21.6705 8.64948 21.483 8.83698 21.3371 9.05536C21 9.55981 21 10.262 21 11.6665V19.3332C21 21.2188 21 22.1616 20.4142 22.7474C19.8284 23.3332 18.8856 23.3332 17 23.3332H11C9.11438 23.3332 8.17157 23.3332 7.58579 22.7474C7 22.1616 7 21.2188 7 19.3332V11.6665C7 10.262 7 9.55981 6.66294 9.05536C6.51702 8.83698 6.32952 8.64948 6.11114 8.50356C5.60669 8.1665 4.90446 8.1665 3.5 8.1665V8.1665Z" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M11.7458 3.93236C11.8788 3.80832 12.1717 3.69872 12.5792 3.62054C12.9867 3.54237 13.486 3.5 13.9997 3.5C14.5133 3.5 15.0126 3.54237 15.4201 3.62054C15.8276 3.69872 16.1206 3.80832 16.2535 3.93236" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="basket__item _favorit">
                    <div class="basket__checkdb-container">
                        <label class="checkb">
                            <input type="checkbox" />
                            <span class="custom-checkbox__content"></span>
                            <img src="/img/basket1.png" alt="Товар">
                        </label>
                        <button>ПЕРЕНЕСТИ В ДРУГОЙ СПИСОК</button>
                    </div>
                    <a href="#" class="basket__link">
                        <p class="title">Потолочный светильник HK-SUSSEX-SF
                            <span>Скидка 3%</span>
                        </p>
                        <ul>
                            <li>Ширина (диаметр): <strong>196 мм</strong></li>
                            <li>Высота изделия: <strong>185 мм</strong></li>
                            <li>Количество ламп: <strong>1 шт</strong></li>
                            <li>Мощность:<strong>60 Вт</strong></li>
                            <li>IP рейтинг:<strong>IP44</strong></li>
                            <li>Цоколь: <strong>E27</strong></li>
                        </ul>
                    </a>
                    <div class="price">
                        <p class="price">
                            <del>55 302 ₽</del>
                            <strong>53 643 ₽</strong>
                            <span>за шт.</span>
                        </p>
                    </div>
                    <div class="calc__container">
                        <div class="calc">
                            <button>-</button>
                            <input value="1"></input>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price sum">
                        <p class="price">
                            <del>55 302 ₽</del>
                            <strong>53 643 ₽</strong>
                            <span>сумма</span>
                        </p>
                    </div>
                    <div class="availability">
                        <p>4 шт. - на складе в Москве, 1 шт. - под заказ *</p>
                    </div>
                    <div class="delete">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M11.667 17.5L11.667 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M16.333 17.5L16.333 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M3.5 8.1665H24.5V8.1665C23.0955 8.1665 22.3933 8.1665 21.8889 8.50356C21.6705 8.64948 21.483 8.83698 21.3371 9.05536C21 9.55981 21 10.262 21 11.6665V19.3332C21 21.2188 21 22.1616 20.4142 22.7474C19.8284 23.3332 18.8856 23.3332 17 23.3332H11C9.11438 23.3332 8.17157 23.3332 7.58579 22.7474C7 22.1616 7 21.2188 7 19.3332V11.6665C7 10.262 7 9.55981 6.66294 9.05536C6.51702 8.83698 6.32952 8.64948 6.11114 8.50356C5.60669 8.1665 4.90446 8.1665 3.5 8.1665V8.1665Z" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M11.7458 3.93236C11.8788 3.80832 12.1717 3.69872 12.5792 3.62054C12.9867 3.54237 13.486 3.5 13.9997 3.5C14.5133 3.5 15.0126 3.54237 15.4201 3.62054C15.8276 3.69872 16.1206 3.80832 16.2535 3.93236" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="basket__item-buttons-mobil">
                        <button>ПЕРЕНЕСТИ В ДРУГОЙ СПИСОК</button>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M11.667 17.5L11.667 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M16.333 17.5L16.333 14" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M3.5 8.1665H24.5V8.1665C23.0955 8.1665 22.3933 8.1665 21.8889 8.50356C21.6705 8.64948 21.483 8.83698 21.3371 9.05536C21 9.55981 21 10.262 21 11.6665V19.3332C21 21.2188 21 22.1616 20.4142 22.7474C19.8284 23.3332 18.8856 23.3332 17 23.3332H11C9.11438 23.3332 8.17157 23.3332 7.58579 22.7474C7 22.1616 7 21.2188 7 19.3332V11.6665C7 10.262 7 9.55981 6.66294 9.05536C6.51702 8.83698 6.32952 8.64948 6.11114 8.50356C5.60669 8.1665 4.90446 8.1665 3.5 8.1665V8.1665Z" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                                <path d="M11.7458 3.93236C11.8788 3.80832 12.1717 3.69872 12.5792 3.62054C12.9867 3.54237 13.486 3.5 13.9997 3.5C14.5133 3.5 15.0126 3.54237 15.4201 3.62054C15.8276 3.69872 16.1206 3.80832 16.2535 3.93236" stroke="#808080" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="basket__buttons">
                <button class="btn _black">Все товары в корзину</button>
                <button class="btn _white">Выбранное в корзину</button>
            </div>
            <!-- <div class="basket__buttons-desktop">
                <button>
            </div> -->
        </div>
    </div>
</section>
