<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <ul>
        <li>
          <a href="#">О нас</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
        <li>
          <a href="tel:88005555792">8 800 555 57 92</a>
          г. Москва, ул. Адмирала Корнилова, д. 61
        </li>
        <li>
          <a href="#">Условия и сроки доставки</a>
        </li>
        <li>
          <a href="#">Гарантия</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
        <li>
          <a href="#">Программа лояльности</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Обработка персональных данных</a>
        </li>
        <li>
          <a href="#">Правила сайта</a>
        </li>
      </ul>
      <ul>
        <li><a href="#" class="icon">
          <img src="img/play.svg" alt="Youtube">
        </a></li>
        <li><a href="#">Все акции</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Видео</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Бренды</a></li>
        <li><a href="#">Коллекции</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Скачать каталоги </a></li>
      </ul>
      <div>
        <form action="">
          <input type="text" name="search" placeholder=" " required="required" id="search"/>
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <path d="M15.8443 17.1527L15.8443 16.0686L15.4738 15.6844C13.9095 17.0292 11.8786 17.8388 9.66938 17.8388C4.74314 17.8388 0.749999 13.8456 0.75 8.91938C0.75 3.99314 4.74314 1.74546e-07 9.66938 3.89879e-07C14.5956 6.05212e-07 18.5888 3.99314 18.5888 8.91938C18.5888 11.1286 17.7792 13.1595 16.4344 14.7238L16.8186 15.0943L17.9027 15.0943L24.75 21.9554L22.7054 24L15.8443 17.1527V17.1527ZM15.8443 8.91938C15.8443 5.50257 13.0862 2.74443 9.66938 2.74443C6.25257 2.74443 3.49443 5.50257 3.49443 8.91938C3.49442 12.3362 6.25257 15.0943 9.66938 15.0943C13.0862 15.0943 15.8443 12.3362 15.8443 8.91938Z" fill="#EBEBEB"/>
            </svg>
          </button>
        </form>
        <ul>
          <li><a href="#">ИНТЕРЬЕРНЫЙ СВЕТ</a></li>
          <li><a href="#">уличный СВЕТ</a></li>
          <li><a href="#">Аксессуары</a></li>
          <li><a href="#">декор</a></li>
          <li><a href="#">новинки</a></li>
          <li><a href="#">бренды</a></li>
          <li><a href="#">коллекции</a></li>
          <li><a href="#">проекты</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">В наличии</a></li>
          <li><a href="#">как купить</a></li>
          <li><a href="#">контакты</a></li>
          <li><a href="#">о компании</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
        </ul>
      </div>
    </div>
    <p>Natural Concepts 2023 © Все права защищены</p>
  </div>
</footer>
