<div class="brand">
    <div class="container">
        
        <div class="hit__slider hit__slider-js">
            <div class="swiper-wrapper hit__container">
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Потолочный светильник для ванных комнат QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</p>
                    <p class="hit__price">21 372 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
            </div>
            <div class="hit__slider-navigation">
                <div>
                    <button class="hit-swiper-button-prev">
                        <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99312 19.6364L8.63647 17.4039L3.29848 10.1364L8.63648 2.86885L6.99312 0.636352L0.000111224 10.1364L6.99312 19.6364Z" />
                        </svg>                        
                    </button>
                    <button class="hit-swiper-button-next">
                        <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99312 19.6364L8.63647 17.4039L3.29848 10.1364L8.63648 2.86885L6.99312 0.636352L0.000111224 10.1364L6.99312 19.6364Z" />
                        </svg>   
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>