<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>УСЛОВИЯ ВОЗВРАТА И ГАРАНТИЙНОГО ОБСЛУЖИВАНИЯ ТОВАРА</h2>
            <div class="content">
                <h3>НА ТОВАР ПРЕДОСТАВЛЯЕТСЯ ГАРАНТИЯ 24 МЕСЯЦА 
                    С МОМЕНТА ПОЛУЧЕНИЯ ЕГО ПОКУПАТЕЛЕМ</h3>
                <p><strong>Для рассмотрения гарантийного случая вам необходимо предоставить фотографию светильника в хорошем качестве и описание проблемы до начала ремонта, что позволит нам быстро найти решение. </strong>
                    Если мы не сможем отремонтировать элемент, мы заменим его на элемент эквивалентной спецификации. Если эквивалентный продукт не доступен, мы обсудим альтернативное соглашение с вами и всегда будем делать все возможное, чтобы вы были полностью удовлетворены результатом. Мы не несем ответственности за расходы третьих сторон.</p>
                <p><strong>Гарантия не включает в себя неисправности или повреждения, вызванные:</strong><br>
                    - несоблюдением инструкции по сборке / установке, неправильной установкой или эксплуатацией,<br>
                    - неправильным использованием, злоупотреблением, пренебрежением, чисткой,<br>
                    - несчастным случаем, <br>
                    - несоблюдение инструкций использования лампы.<br>
                </p>
                <p><strong>Если изделие было разобрано или изменено, гарантия не будет действовать. </strong><br>
                    Кроме того, отделка и патина некоторых светильников из-за используемых материалов может изменяться с течением времени.</p>
                <h3>ПРАВИЛА ВОЗВРАТА ТОВАРА</h3>
                <p><strong>Обращаем ваше внимание, что все изделия производятся индивидуально под каждый заказ и нюансы отделки / цвета могут отличаться от фотографий в каталоге. Это не является причиной для возврата качественного товара.</strong>
                    Рекламации по качеству изделий рассматриваются индивидуально в течение 10 рабочих дней с момента получения заявления. Замена запчастей или изделия полностью (в зависимости от вида дефекта) производится в срок не позднее 60 календарных дней с момента подтверждения факта брака.</p>
                <h3>ВОЗВРАТ ТОВАРА, ПРИОБРЕТЕННОГО ЧЕРЕЗ ИНТЕРНЕТ МАГАЗИН</h3>
                <p>При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.</p>
                <p>Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».<br>
                    - Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара – в течение семи дней;<br>
                    - Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;<br>
                    - Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;<br>
                    - При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;</p>
                <p>Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу <a href="mailto:">info@n-con.ru</a></p>
                <p>Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.</p>
                <p>Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу info@n-con.ru</p>
                <p>Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.</p>
            </div>

            
                
        </div>
    </div>
</div>
