<section class="gray">
    <div class="container">
        <ul class="gray__list">
            <li>
                <img src="/img/phonei.svg" alt="Контакты" >
                <ul>
                    <li>Контакты</li>
                    <li>
                        <p><strong>Телефон:</strong> <a href="tel:88005555792">8 (800) 555 57 92</a></p>
                        <p>Звонок по России бесплатный, ежедневно с&nbsp;9.00&nbsp;до&nbsp;19.00 по&nbsp;Московскому времени</p>
                        <p><strong>Электронная почта:</strong> <a href="mailto:info@n-con.ru">info@n-con.ru</a></p>
                    </li>
                </ul>
            </li>
            <li>
                <img src="/img/loc.svg" alt="ШОУ-РУМ" >
                <ul>
                    <li>ШОУ-РУМ</li>
                    <li>
                        <p><strong>Адрес:</strong> г. Москва, Дизайн-центр Artplay, ул.&nbsp;Нижняя&nbsp;Сыромятническая, д.&nbsp;10,&nbsp;стр.&nbsp;7</p>
                        <p><strong>Часы работы:</strong> пн-пт:&nbsp;10.00&nbsp;-&nbsp;19.00, сб:&nbsp;11.00&nbsp;-&nbsp;18.00, вс:&nbsp;выходной</p>
                    </li>
                </ul>
            </li>
            <li>
                <img src="/img/home.svg" alt="ЦЕНТРАЛЬНый ОФИС" >
                <ul>
                    <li>ЦЕНТРАЛЬНый ОФИС</li>
                    <li>
                        <p><strong>Адрес:</strong> г. Москва, Саларьево, ул.&nbsp;Адмирала Корнилова,&nbsp;д.&nbsp;61</p>
                        <p><strong>Часы работы:</strong> пн-чт:&nbsp;09.00&nbsp;-&nbsp;18.00, пт:&nbsp;09.00&nbsp;-&nbsp;17.00, сб,&nbsp;вс:&nbsp;выходной</p>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</section>