<div class="grid">
    <div class="container">
        <div class="grid__container">
            <a href="#">
                <img src="img/grid1.png" alt="ЛАМПЫ И ТОРШЕРЫ">
                <p><span>ЛАМПЫ И ТОРШЕРЫ</span></p>
            </a>
            <a href="#">
                <img src="img/grid2.png" alt="НАСТЕННЫЙ СВЕТ">
                <p><span>НАСТЕННЫЙ СВЕТ</span></p>
            </a>
            <a href="#">
                <img src="img/grid3.png" alt="свет для ванных комнат">
                <p><span>свет для ванных комнат</span></p>
            </a>
            <a href="#">
                <img src="img/grid4.png" alt="ЛАМПЫ И ТОРШЕРЫ">
                <p><span>ПОДВЕСНОЙ СВЕТ</span></p>
            </a>
        </div>
    </div>
</div>