<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" data-burger/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <div class="menu__container">
          <ul class="menu__box">
            <li>
              <a class="menu__item" href="#" data-menu>Каталог</a>
              <ul>
                <li><a class="menu__subitem" href="#">Интерьерный свет</a></li>
                <li><a class="menu__subitem" href="#">Уличный свет </a></li>
                <li><a class="menu__subitem" href="#">Декор</a></li>
                <li><a class="menu__subitem" href="#">Аксессуарыт</a></li>
                <li><a class="menu__subitem" href="#">В наличии</a></li>
                <li><a class="menu__subitem" href="#">Новинки</a></li>
                <li><a class="menu__subitem" href="#">Бренды</a></li>
                <li><a class="menu__subitem" href="#">Коллекции</a></li>
                <li><a class="menu__subitem" href="#">Идеи для подарков</a></li>
                <li><a class="menu__subitem" href="#">Акции</a></li>
                <li><a class="menu__subitem" href="#">Outlet</a></li>
              </ul>
            </li>
            <li><a class="menu__item" href="#">сотрудничество</a></li>
            <li><a class="menu__item" href="#">как купить</a></li>
            <li><a class="menu__item" href="#">контакты</a></li>
          </ul>
        </div>
      </div>
      <button><img src="img/search.svg" alt="Иконка"></button>
      <a href="#"><img src="img/compare.svg" alt="Иконка"></a>
      <a href="#"><img src="img/favorite_light.svg" alt="Иконка"></a>
      <a href="#"><img src="img/user_light.svg" alt="Иконка"></a>
      <a href="#"><img src="img/bag.svg" alt="Иконка"></a>
    </div>
    <div class="header__bottom">
      <a href="/" class="logo"><img src="img/logo.svg" alt="Логотип"></a>
      <div class="header__nav">
        <p>Дизайнерский СВЕТ ИЗ АМЕРИКИ И ЕВРОПЫ</p>
        <nav>
          <a href="#">каталог</a>
          <a href="#">сотрудничество</a>
          <a href="#">как купить</a>
          <a href="#">контакты</a>
        </nav>
      </div>
      <p>
        <a href="tel:88005555792">8 800 555 57 92</a>
        <span>пн-пт: 10.00 - 19.00<br>
          сб: 11.00 - 18.00</span>
      </p>
    </div>
  </div>
</header>
