<div class="hit">
    <h2><span>Хиты и новинки</span></h2>
    <div class="container">
        <div class="hit__slider hit__slider-js">
            <div class="swiper-wrapper hit__container">
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="./img/tovar.png" alt="Потолочный светильник для ванных комнат QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</p>
                    <p class="hit__price">21 372 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="./img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="./img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="./img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="./img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
            </div>
            <div class="hit__slider-navigation">
                <div>
                    <button class="hit-swiper-button-prev">
                        <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99312 19.6364L8.63647 17.4039L3.29848 10.1364L8.63648 2.86885L6.99312 0.636352L0.000111224 10.1364L6.99312 19.6364Z" />
                        </svg>                        
                    </button>
                    <button class="hit-swiper-button-next">
                        <svg width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99312 19.6364L8.63647 17.4039L3.29848 10.1364L8.63648 2.86885L6.99312 0.636352L0.000111224 10.1364L6.99312 19.6364Z" />
                        </svg>   
                    </button>
                </div>
                <a href="#">Посмотреть весь каталог 
                    <svg width="50" height="30" viewBox="0 0 50 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.7071 14.7071C41.0976 14.3166 41.0976 13.6834 40.7071 13.2929L34.3431 6.92893C33.9526 6.53841 33.3195 6.53841 32.9289 6.92893C32.5384 7.31946 32.5384 7.95262 32.9289 8.34315L38.5858 14L32.9289 19.6569C32.5384 20.0474 32.5384 20.6805 32.9289 21.0711C33.3195 21.4616 33.9526 21.4616 34.3431 21.0711L40.7071 14.7071ZM12 15H40V13H12V15Z" />
                    </svg>
                </a>
            </div>
        </div>
        
    </div>
</div>