<section class="order">
    <div class="container">
        <div class="order__container">
            <h2>Заказ сформирован</h2>
            <p>Ваш <strong>заказ №50768</strong> от 17.11.2023 16:21 успешно создан. Номер вашей оплаты: №50768/1<br>
                Вы можете следить за выполнением своего заказа в <a href="#">Личном кабинете</a> на сайте. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.</p>
            <h3>Способ оплаты заказа</h3>
            <div class="order__card-container">
                <p class="order__card-title">Банковской картой на сайте</p>
                <ul>
                    <li><img src="img/visa.png" alt="Visa"></li>
                    <li><img src="img/mastercard-logo.png" alt="Mastercard"></li>
                    <li><img src="img/mir.png" alt="Mir"></li>
                </ul>
            </div>
            <div class="order__card-sum-container">
                <div class="order__card-sum">
                    <p>Сумма к оплате по счёту:
                        <strong>174 803 ₽</strong>
                    </p>
                    <button class="btn _black">Оплатить</button>
                    <p>Вы будете перенаправлены на страницу оплаты</p>
                </div>
                <p>Обратите внимание: если вы откажетесь от покупки, для возврата денег вам придется обратиться в магазин.</p>
            </div>
        </div>
    </div>
</section>
