<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>Приобрести товар легко и удобно</h2>
            <ul>
                <li>
                    <img src="img/laptop.svg" alt="Иконка">
                    <h3>оплата на сайте</h3>
                    <p>После добавления товаров в корзину вы можете оплатить покупку банковской картой. С условиями и стоимостью доставки просим вас ознакомиться в разделе <a href="/delivery.html">Доставка</a></p>
                </li>
                <li>
                    <img src="img/pin.svg" alt="Иконка">
                    <h3>товар в шоу-руме</h3>
                    <p>Вы можете посмотреть и заказать товар в наших шоу-румах в Москве:</p>
                    <ul>
                        <li>Дизайн-центр Artplay, ул.Нижняя Сыромятническая, д.10, стр.7</li>
                        <li>Саларьево, ул. Адмирала Корнилова, д. 61 (по предварительной записи).</li>
                    </ul>
                    <p>Либо у официального дилера, удобный адрес можно выбрать на <a href="#" target="_blank">Карте</a></p>
                </li>
                <li>
                    <img src="img/phone.svg" alt="Иконка">
                    <h3>Заказ по телефону</h3>
                    <p>По телефону <a href="tel:88005555792">8-800-555-5-792</a> вы всегда можете получить полную консультацию и запросить счет для оплаты товара денежным переводом.</p>
                </li>
                <li>
                    <img src="img/calendar.svg" alt="Иконка">
                    <h3>Срок поставки</h3>
                    <p>Срок производства и поставки товара составляет до 60 календарных дней (может быть увеличен при большом обьеме заказа). Точный срок доставки по заявке будет подтвержден менеджером по телефону и электронным письмом.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="loyaliti">
    <div class="container">
        <div class="loyaliti__container">
            <h2>Дополнительная информация про оплату на сайте</h2>
            <div class="content">
                <h3>ПРАВИЛА ОПЛАТЫ И БЕЗОПАСНОСТЬ ПЛАТЕЖЕЙ, КОНФИДЕНЦИАЛЬНОСТЬ ИНФОРМАЦИИ</h3>
                <p>Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК». К оплате принимаются карты VISA, MasterCard, МИР.</p>
                <div class="logos">
                    <img style="max-width: 300px;" src="img/alphabank.png" alt="Альфа Банк">
                    <img style="max-width: 156px;" src="img/visa.png" alt="Виза">
                    <img style="max-width: 88px;" src="img/mastercard.png" alt="Мастеркард">
                    <img style="max-width: 149px;" src="img/mir.png" alt="Мир">
                </div>
                <p>
                    Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».<br>
                    На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.<br>
                    Далее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.<br>
                </p>
                <div class="logos">
                    <img style="max-width: 174px;" src="img/verified-by-visa.png" alt="Виза">
                    <img style="max-width: 179px;" src="img/mastercard-securecode.png" alt="Мастеркард">
                    <img style="max-width: 205px;" src="img/miraccept.png" alt="Мир">
                </div>
                <h3>СЛУЧАИ ОТКАЗА В СОВЕРШЕНИИ ПЛАТЕЖА:</h3>
                <p>
                    - банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;<br>
                    - недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;<br>
                    - данные банковской карты введены неверно;<br>
                    - истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;<br>
                </p>
                <p>По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: <a href="tel:8800555579">8-800-555-5-79</a></p>
                <p>Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>
            </div>
        </div>
    </div>
</div>