<section class="project">
    <div class="container">
        <h2>Проекты с нашими светильниками</h2>
        <div class="project__slider project__slider-js">
            <div class="swiper-wrapper">
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project1.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project2.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project3.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project4.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project3.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="swiper-slide project__card">
                    <a href="#"><img src=".img/project4.png" alt="Проект"></a>
                    <p>Интерьер квартиры 40 м² для молодого человека</p>
                    <a href="#">Подробнее</a>
                </div>
            </div>

        </div>
    </div>
</section>