<div class="hit">
    <div class="container">
        <h2 class="_h2">ДЛЯ ОФОРМЛЕНИЯ ИНТЕРЬЕРА ИСПОЛЬЗОВАЛИСЬ</h2>
        <div class="hit__slider hit__slider-js">
            <div class="swiper-wrapper hit__container">
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Потолочный светильник для ванных комнат QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Потолочный светильник для ванных комнат QZ-CHANCE-F-PC</p>
                    <p class="hit__price">21 372 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p>хит</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Подвесной светильник QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                            <p class="_new">Новинка</p>
                        </div>
                    </div>
                    <p class="hit__name">Подвесной светильник QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
                <a href="#" class="hit__card swiper-slide">
                    <div class="hit__img" >
                        <img src="img/tovar.png" alt="Люстра QZ-CHANCE-F-PC" >
                        <div class="hit__label" >
                            <p>в наличии</p>
                        </div>
                    </div>
                    <p class="hit__name">Люстра QZ-CHANCE-F-PC</p>
                    <p class="hit__price">144 458 ₽</p>
                </a>
            </div>
        </div>
        
    </div>
</div>