<div class="subscribe">
    <h2><span>Будьте в курсе!<i>Новости и закрытые распродажи</i></span></h2>
    <div class="container">
        <div class="subscribe__form" >
            <a href="#"><img src="/img/tg.svg" alt="Телеграм"></a>
            <p>подпишитесь на&nbsp;наш&nbsp;телеграм-канал</p>
            <form action="">
                <div class="form__placeholder-container">
                    <input type="email" name="email" placeholder=" " required="required" id="email"/>
                    <label for="email">Ваш E-mail</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox" name="true" placeholder=" " required="required" id="true"/>
                    <label for="true"><p>Я согласен на обработку персональных данных</p></label>
                </div>
                <input type="submit">
            </form>
        </div>
        
    </div>
</div>