<div class="tabs">
    <div class="container">
        <ul class="tabs__list">
            <li><a href="#a">A</a></li>
            <li><a href="#b">B</a></li>
            <li><a href="#c">C</a></li>
            <li><a href="#d">D</a></li>
            <li><a href="#e">E</a></li>
            <li><a href="#f">F</a></li>
            <li><a href="#g">G</a></li>
            <li><a href="#h">H</a></li>
            <li><a href="#i">I</a></li>
            <li><a href="#j">J</a></li>
            <li><a href="#k">K</a></li>
            <li><a href="#l">L</a></li>
            <li><a href="#m">M</a></li>
            <li><a href="#n">N</a></li>
            <li><a href="#o">O</a></li>
            <li><a href="#p">P</a></li>
            <li><a href="#q">Q</a></li>
            <li><a href="#r">R</a></li>
            <li><a href="#s">S</a></li>
            <li><a href="#t">T</a></li>
            <li><a href="#u">U</a></li>
            <li><a href="#v">V</a></li>
            <li><a href="#w">W</a></li>
            <li><a href="#x">X</a></li>
            <li><a href="#y">Y</a></li>
            <li><a href="#z">Z</a></li>
        </ul>
        <div class="tabs__contens">
            <input type="checkbox" class="toggle-checkbox" id="ta">
            <label class="list-item-title" id="a" for="ta">A</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ADAMS</a></li>
                <li class="list-item"><a href="#">ADDISON</a></li>
                <li class="list-item"><a href="#">ADMIRALS COVE</a></li>
                <li class="list-item"><a href="#">ADONIS</a></li>
                <li class="list-item"><a href="#">AEGEAN</a></li>
                <li class="list-item"><a href="#">AEGEUS</a></li>
                <li class="list-item"><a href="#">AGATHA</a></li>
                <li class="list-item"><a href="#">AGNER</a></li>
                <li class="list-item"><a href="#">AHRENDALE</a></li>
                <li class="list-item"><a href="#">AINSLEY</a></li>
                <li class="list-item"><a href="#">AIVIAN</a></li>   
                <li class="list-item"><a href="#">ALBERT</a></li>   
                <li class="list-item"><a href="#">ALCOTT</a></li>   
                <li class="list-item"><a href="#">ALDORA</a></li>   
                <li class="list-item"><a href="#">ALEC</a></li> 
                <li class="list-item"><a href="#">ALEEKA</a></li>   
                <li class="list-item"><a href="#">ALFORD PLACE</a></li> 
                <li class="list-item"><a href="#">ALLENBURY</a></li>    
                <li class="list-item"><a href="#">ALLIER</a></li>   
                <li class="list-item"><a href="#">ALSTON</a></li>   
                <li class="list-item"><a href="#">ALTA</a></li> 
                <li class="list-item"><a href="#">ALTA WOOD</a></li>    
                <li class="list-item"><a href="#">ALTON (EL)</a></li>   
                <li class="list-item"><a href="#">ALTON (KH)</a></li>   
                <li class="list-item"><a href="#">ALTURAS</a></li>  
                <li class="list-item"><a href="#">AMALIA</a></li>   
                <li class="list-item"><a href="#">AMARILLI</a></li> 
                <li class="list-item"><a href="#">AMELIA (EL)</a></li>  
                <li class="list-item"><a href="#">AMELIA (HK)</a></li>  
                <li class="list-item"><a href="#">ANCHORAGE</a></li>    
                <li class="list-item"><a href="#">ANDOVER</a></li>  
                <li class="list-item"><a href="#">ANEMONE</a></li>  
                <li class="list-item"><a href="#">ANGELO</a></li>   
                <li class="list-item"><a href="#">ANGUS</a></li>    
                <li class="list-item"><a href="#">ANNIE</a></li>    
                <li class="list-item"><a href="#">ANO</a></li>  
                <li class="list-item"><a href="#">ANTOINETTE</a></li>   
                <li class="list-item"><a href="#">ANTONIA</a></li>  
                <li class="list-item"><a href="#">ANYA</a></li> 
                <li class="list-item"><a href="#">APOLLO (EL)</a></li>  
                <li class="list-item"><a href="#">APOLLO (ELSTEAD)</a></li> 
                <li class="list-item"><a href="#">APOLLO (FE)</a></li>  
                <li class="list-item"><a href="#">ARABELLA</a></li> 
                <li class="list-item"><a href="#">ARABESQUE</a></li>    
                <li class="list-item"><a href="#">ARDEN</a></li>    
                <li class="list-item"><a href="#">ARENDAL</a></li>  
                <li class="list-item"><a href="#">ARGENTO</a></li>  
                <li class="list-item"><a href="#">ARGENTUM</a></li> 
                <li class="list-item"><a href="#">ARGYLE</a></li>   
                <li class="list-item"><a href="#">ARIES</a></li>    
                <li class="list-item"><a href="#">ARLINGTON</a></li>    
                <li class="list-item"><a href="#">ARMAND</a></li>   
                <li class="list-item"><a href="#">ARNO</a></li> 
                <li class="list-item"><a href="#">AROS</a></li> 
                <li class="list-item"><a href="#">ARTISAN</a></li>  
                <li class="list-item"><a href="#">ARVIKA</a></li>   
                <li class="list-item"><a href="#">ASCENT</a></li>   
                <li class="list-item"><a href="#">ASCHER</a></li>   
                <li class="list-item"><a href="#">ASHBERN</a></li>  
                <li class="list-item"><a href="#">ASHER</a></li>    
                <li class="list-item"><a href="#">ASHEVILLE</a></li>    
                <li class="list-item"><a href="#">ASHLAND BAY</a></li>  
                <li class="list-item"><a href="#">ASHLEY</a></li>   
                <li class="list-item"><a href="#">ASKER</a></li>    
                <li class="list-item"><a href="#">ASTER</a></li>    
                <li class="list-item"><a href="#">ASTRID</a></li>   
                <li class="list-item"><a href="#">ATHENA</a></li>   
                <li class="list-item"><a href="#">ATLAS</a></li>    
                <li class="list-item"><a href="#">ATWATER</a></li>  
                <li class="list-item"><a href="#">AUDRIE</a></li>   
                <li class="list-item"><a href="#">AUDUBON</a></li>  
                <li class="list-item"><a href="#">AUDUBON PARK</a></li> 
                <li class="list-item"><a href="#">AUSTEN</a></li>   
                <li class="list-item"><a href="#">AVON</a></li> 
                <li class="list-item"><a href="#">AXEL</a></li> 
                <li class="list-item"><a href="#">AXIOS</a></li>    
                <li class="list-item"><a href="#">AYLESBURY</a></li>    
                <li class="list-item"><a href="#">AZALEA</a></li>   
                <li class="list-item"><a href="#">AZORES</a></li>   
            </ul>
              
        
            <input type="checkbox" class="toggle-checkbox" id="tb">
            <label class="list-item-title" id="b" for="tb">B</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ADAMS</a></li>
                <li class="list-item"><a href="#">ADDISON</a></li>
                <li class="list-item"><a href="#">ADMIRALS COVE</a></li>
                <li class="list-item"><a href="#">ADONIS</a></li>
                <li class="list-item"><a href="#">AEGEAN</a></li>
                <li class="list-item"><a href="#">AEGEUS</a></li>
                <li class="list-item"><a href="#">AGATHA</a></li>
                <li class="list-item"><a href="#">AGNER</a></li>
                <li class="list-item"><a href="#">AHRENDALE</a></li>
                <li class="list-item"><a href="#">AINSLEY</a></li>
                <li class="list-item"><a href="#">AIVIAN</a></li>   
                <li class="list-item"><a href="#">ALBERT</a></li>   
                <li class="list-item"><a href="#">ALCOTT</a></li>   
                <li class="list-item"><a href="#">ALDORA</a></li>   
                <li class="list-item"><a href="#">ALEC</a></li> 
                <li class="list-item"><a href="#">ALEEKA</a></li>   
                <li class="list-item"><a href="#">ALFORD PLACE</a></li> 
                <li class="list-item"><a href="#">ALLENBURY</a></li>    
                <li class="list-item"><a href="#">ALLIER</a></li>   
                <li class="list-item"><a href="#">ALSTON</a></li>   
                <li class="list-item"><a href="#">ALTA</a></li> 
                <li class="list-item"><a href="#">ALTA WOOD</a></li>    
                <li class="list-item"><a href="#">ALTON (EL)</a></li>   
                <li class="list-item"><a href="#">ALTON (KH)</a></li>   
                <li class="list-item"><a href="#">ALTURAS</a></li>  
                <li class="list-item"><a href="#">AMALIA</a></li>   
                <li class="list-item"><a href="#">AMARILLI</a></li> 
                <li class="list-item"><a href="#">AMELIA (EL)</a></li>  
                <li class="list-item"><a href="#">AMELIA (HK)</a></li>  
                <li class="list-item"><a href="#">ANCHORAGE</a></li>    
                <li class="list-item"><a href="#">ANDOVER</a></li>  
                <li class="list-item"><a href="#">ANEMONE</a></li>  
                <li class="list-item"><a href="#">ANGELO</a></li>   
                <li class="list-item"><a href="#">ANGUS</a></li>    
                <li class="list-item"><a href="#">ANNIE</a></li>    
                <li class="list-item"><a href="#">ANO</a></li>  
                <li class="list-item"><a href="#">ANTOINETTE</a></li>   
                <li class="list-item"><a href="#">ANTONIA</a></li>  
                <li class="list-item"><a href="#">ANYA</a></li> 
                <li class="list-item"><a href="#">APOLLO (EL)</a></li>  
                <li class="list-item"><a href="#">APOLLO (ELSTEAD)</a></li> 
                <li class="list-item"><a href="#">APOLLO (FE)</a></li>  
                <li class="list-item"><a href="#">ARABELLA</a></li> 
                <li class="list-item"><a href="#">ARABESQUE</a></li>    
                <li class="list-item"><a href="#">ARDEN</a></li>    
                <li class="list-item"><a href="#">ARENDAL</a></li>  
                <li class="list-item"><a href="#">ARGENTO</a></li>  
                <li class="list-item"><a href="#">ARGENTUM</a></li> 
                <li class="list-item"><a href="#">ARGYLE</a></li>   
                <li class="list-item"><a href="#">ARIES</a></li>    
                <li class="list-item"><a href="#">ARLINGTON</a></li>    
                <li class="list-item"><a href="#">ARMAND</a></li>   
                <li class="list-item"><a href="#">ARNO</a></li> 
                <li class="list-item"><a href="#">AROS</a></li> 
                <li class="list-item"><a href="#">ARTISAN</a></li>  
                <li class="list-item"><a href="#">ARVIKA</a></li>   
                <li class="list-item"><a href="#">ASCENT</a></li>   
                <li class="list-item"><a href="#">ASCHER</a></li>   
                <li class="list-item"><a href="#">ASHBERN</a></li>  
                <li class="list-item"><a href="#">ASHER</a></li>    
                <li class="list-item"><a href="#">ASHEVILLE</a></li>    
                <li class="list-item"><a href="#">ASHLAND BAY</a></li>  
                <li class="list-item"><a href="#">ASHLEY</a></li>   
                <li class="list-item"><a href="#">ASKER</a></li>    
                <li class="list-item"><a href="#">ASTER</a></li>    
                <li class="list-item"><a href="#">ASTRID</a></li>   
                <li class="list-item"><a href="#">ATHENA</a></li>   
                <li class="list-item"><a href="#">ATLAS</a></li>    
                <li class="list-item"><a href="#">ATWATER</a></li>  
                <li class="list-item"><a href="#">AUDRIE</a></li>   
                <li class="list-item"><a href="#">AUDUBON</a></li>  
                <li class="list-item"><a href="#">AUDUBON PARK</a></li> 
                <li class="list-item"><a href="#">AUSTEN</a></li>   
                <li class="list-item"><a href="#">AVON</a></li> 
                <li class="list-item"><a href="#">AXEL</a></li> 
                <li class="list-item"><a href="#">AXIOS</a></li>    
                <li class="list-item"><a href="#">AYLESBURY</a></li>    
                <li class="list-item"><a href="#">AZALEA</a></li>   
                <li class="list-item"><a href="#">AZORES</a></li>   
            </ul>
              

            <input type="checkbox" class="toggle-checkbox" id="tc">
            <label class="list-item-title" id="c" for="tc">C</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>

            <input type="checkbox" class="toggle-checkbox" id="td">
            <label class="list-item-title" id="d" for="td">D</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="te">
            <label class="list-item-title" id="e" for="te">E</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tf">
            <label class="list-item-title" id="f" for="tf">F</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tg">
            <label class="list-item-title" id="g" for="tg">G</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="th">
            <label class="list-item-title" id="h" for="th">H</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="ti">
            <label class="list-item-title" id="i" for="ti">I</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tj">
            <label class="list-item-title" id="j" for="tj">J</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tk">
            <label class="list-item-title" id="k" for="tk">K</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tl">
            <label class="list-item-title" id="l" for="tl">L</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tl">
            <label class="list-item-title" id="l" for="tl">L</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tm">
            <label class="list-item-title" id="m" for="tm">M</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tn">
            <label class="list-item-title" id="n" for="tn">N</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="to">
            <label class="list-item-title" id="o" for="to">O</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tp">
            <label class="list-item-title" id="p" for="tp">P</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tq">
            <label class="list-item-title" id="q" for="tq">Q</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tr">
            <label class="list-item-title" id="r" for="tr">R</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="ts">
            <label class="list-item-title" id="s" for="ts">S</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tt">
            <label class="list-item-title" id="t" for="tt">T</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tu">
            <label class="list-item-title" id="u" for="tu">U</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tv">
            <label class="list-item-title" id="v" for="tv">V</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tw">
            <label class="list-item-title" id="w" for="tw">W</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tx">
            <label class="list-item-title" id="x" for="tx">X</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="ty">
            <label class="list-item-title" id="y" for="ty">Y</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
            <input type="checkbox" class="toggle-checkbox" id="tz">
            <label class="list-item-title" id="z" for="tz">Z</label>
            <ul class="sublist">
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
                <li class="list-item"><a href="#">ABBEY</a></li>
            </ul>
        </div>
    </div>
</div>