<div class="tiles">
    <div class="container">
        <div class="tiles__container">
            <a href="#">
                <img src="./img/img1.png" alt="Интерьерный свет" >
                <img src="./img/img1-1.png" alt="Интерьерный свет" >
                <p>ИНТЕРЬЕРНЫЙ СВЕТ</p>
            </a>
            <a href="#">
                <img src="./img/img2.png" alt="Люстры-вентиляторы" >
                <img src="./img/img2-1.png" alt="Люстры-вентиляторы" >
                <p>люстры-вентиляторы</p>
            </a>
            <a href="#">
                <img src="./img/img4.png" alt="Уличный свет" >
                <img src="./img/img4-1.png" alt="Уличный свет" >
                <p>УЛИЧНЫЙ СВЕТ</p>
            </a>
            <a href="#">
                <img src="./img/procent.svg" alt="Outlet" >
                <img src="./img/procent-1.svg" alt="Outlet" >
                <p>outlet</p>
            </a>
        </div>
    </div>
</div>