<section class="banner">
    <div class="banner-swiper-js">
        <div class="swiper-wrapper banner__container">
            <div class="swiper-slide banner__slide" >
                <div>
                    <p class="banner__title">Люстры-вентиляторы</p>
                    <p class="banner__subtitle">новые коллекции от Kichler</p>
                    <a class="banner__link" href="#">ПОСМОТРЕТЬ ></a>
                </div>
                <img src="./img/ventilyatori.png" loading="lazy" alt="Люстры-вентиляторы" >
            </div>
            <div class="swiper-slide banner__slide" >
                <div>
                    <p class="banner__title">Наш шоу-рум в Artplay</p>
                    <p class="banner__subtitle">Строение 7, вход B</p>
                    <a class="banner__link" href="#">ПОСМОТРЕТЬ ></a>
                </div>
                <img src="./img/chema.png" loading="lazy" alt="Наш шоу-рум в Artplay" >
            </div>
            <div class="swiper-slide banner__slide" >
                <div>
                    <p class="banner__title">Новинки!</p>
                    <a class="banner__link" href="#">ПОСМОТРЕТЬ ></a>
                </div>
                <img src="./img/ventilyatori.png" loading="lazy" alt="Люстры-вентиляторы" >
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>